@font-face {
  font-family: 'SamsungOne';
  font-style: normal;
  font-weight: 300;
  src: url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-300.eot') format('embedded-opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-300.otf') format('opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-300.woff') format('woff'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-300.woff2') format('woff2');
}
@font-face {
  font-family: 'SamsungOneC';
  font-style: normal;
  font-weight: 300;
  src: url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-300C.eot') format('embedded-opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-300C.otf') format('opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-300C.woff') format('woff'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-300C.woff2') format('woff2');
}
@font-face {
  font-family: 'SamsungOne';
  font-style: normal;
  font-weight: 400;
  src: url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-400.eot') format('embedded-opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-400.otf') format('opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-400.woff') format('woff'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-400.woff2') format('woff2');
}
@font-face {
  font-family: 'SamsungOneC';
  font-style: normal;
  font-weight: 400;
  src: url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-400C.eot') format('embedded-opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-400C.otf') format('opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-400C.woff') format('woff'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-400C.woff2') format('woff2');
}
@font-face {
  font-family: 'SamsungOne';
  font-style: normal;
  font-weight: 700;
  src: url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-700.eot') format('embedded-opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-700.otf') format('opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-700.woff') format('woff'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-700.woff2') format('woff2');
}
@font-face {
  font-family: 'SamsungOneC';
  font-style: normal;
  font-weight: 700;
  src: url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-700C.eot') format('embedded-opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-700C.otf') format('opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-700C.woff') format('woff'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungOneKorean-700C.woff2') format('woff2');
}
@font-face {
  font-family: 'Samsung Sharp Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Regular.eot') format('embedded-opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Regular.otf') format('opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Regular.woff') format('woff'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  font-weight: 500;
  src: url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Medium.eot') format('embedded-opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Medium.otf') format('opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Medium.woff') format('woff'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Samsung Sharp Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Bold.eot') format('embedded-opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Bold.otf') format('opentype'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Bold.woff') format('woff'), url('http://www.vo-mm.com/Samsung/SAC-Newletter/2021/fonts/SamsungSharpSans-Bold.woff2') format('woff2');
}
/*# sourceMappingURL=font.css.map */