/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
.one {
  font-family: SamsungOne, sans-serif;
}
.sharp-b {
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.sharp-m {
  font-family: "Samsung Sharp Sans Medium", sans-serif;
}
.sharp-r {
  font-family: "Samsung Sharp Sans Regular", sans-serif;
}
.b-color {
  color: #0082b2;
}
.g-color {
  color: #404040;
}
img {
  backface-visibility: hidden;
  display: block;
}
p,
h2 {
  word-break: keep-all;
}
html {
  font-family: SamsungOne, sans-serif;
}
@media screen and (min-width: 1081px) {
  .container .wrap {
    padding-top: 3.80859375vw;
    padding-right: 4.296875vw;
    padding-bottom: 3.80859375vw;
    padding-left: 4.296875vw;
    box-sizing: border-box;
    overflow: hidden;
  }
  .container .wrap .mo {
    display: none;
  }
  .container .wrap .web {
    display: inline-block;
  }
  .container .wrap header .tit {
    font-size: 2.1484375vw;
    line-height: 2.68554688vw;
    color: #0082b2;
    padding-left: 1.31835938vw;
    box-sizing: border-box;
    position: relative;
    font-family: "Samsung Sharp Sans Bold", sans-serif;
  }
  .container .wrap header .tit:after {
    content: '';
    display: block;
    width: 0.53710938vw;
    height: 1.5625vw;
    background-color: #0082b2;
    position: absolute;
    left: 0vw;
    top: 0.34179688vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article {
    text-align: left;
    margin-top: 6.34765625vw;
  }
  .container .wrap article .visual h2 {
    font-size: 4.296875vw;
    color: #404040;
    line-height: 5.02929688vw;
    font-family: "Samsung Sharp Sans Bold", sans-serif;
  }
  .container .wrap article .content {
    margin-top: 4.39453125vw;
    text-align: left;
    position: relative;
  }
  .container .wrap article .content .cont-sub-tit {
    font-size: 1.953125vw;
    line-height: 2.49023438vw;
    color: #0082b2;
    font-family: "Samsung Sharp Sans Bold", sans-serif;
  }
  .container .wrap article .content .cont-p {
    font-size: 1.7578125vw;
    line-height: 2.1484375vw;
    margin-top: 2.9296875vw;
    color: #404040;
  }
  .container .wrap article .content .txt {
    font-size: 1.171875vw;
    line-height: 1.46484375vw;
    color: #58595b;
    font-weight: 400;
    text-align: left;
  }
  .container .wrap.fp article {
    margin-top: 7.32421875vw;
  }
  .container .wrap.fp article p,
  .container .wrap.fp article h2 {
    mix-blend-mode: multiply;
  }
  .container .wrap.fp article .visual h2 {
    color: #0082b2;
    opacity: 1;
  }
  .container .wrap.fp article .content .cont-p {
    font-size: 1.3671875vw;
    line-height: 1.66015625vw;
    margin-top: 0vw;
    color: #0082b2;
    font-family: "Samsung Sharp Sans Medium", sans-serif;
    text-align: left;
  }
  .container .wrap.half {
    background-position-x: 0vw;
  }
  .container .wrap.half article {
    padding-left: 47.36328125vw;
    box-sizing: border-box;
  }
  .container .wrap.half article .content .cont-sub-tit {
    font-size: 2.34375vw;
    line-height: 2.58789063vw;
  }
  .container .wrap.half article .content .cont-p {
    font-size: 2.34375vw;
    line-height: 2.83203125vw;
  }
  .container .wrap.main article .content .cont-p {
    font-size: 1.3671875vw;
    line-height: 1.66015625vw;
  }
  .container .wrap.m004001 {
    background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004001t_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 75vw;
  }
  .container .wrap.m004001 article .content .cont-p {
    width: 48.33984375vw;
    margin-left: 0.43945313vw;
  }
  .container .wrap.m004001 article .content img {
    width: 36.27929688vw;
    height: 19.18945313vw;
    margin-top: 0vw;
    position: absolute;
    right: 0.63476563vw;
    top: 0.48828125vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004001 article .content .txt {
    margin-top: 10.98632813vw;
  }
  .container .wrap.m004001003 article .content img {
    width: 45.99609375vw;
  }
  .container .wrap.m004001003 article .content img.img1 {
    height: 28.61328125vw;
  }
  .container .wrap.m004001003 article .content img.img2 {
    height: 40.96679688vw;
    position: absolute;
    right: -4.296875vw;
    top: 5.90820313vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004001004 article .content img {
    width: 91.40625vw;
    height: 30.61523438vw;
  }
  .container .wrap.m004001008 article .content img {
    width: 45.703125vw;
    height: 22.60742188vw;
    position: absolute;
    right: 0vw;
    top: -0.83007812vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004001008 article .content .txt {
    margin-top: 19.04296875vw;
  }
  .container .wrap.m004002001 {
    background-repeat: no-repeat;
    background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002001t_01.png');
    background-size: contain;
    height: 105.76171875vw;
  }
  .container .wrap.m004002001 article .content .img1 {
    width: 48.58398438vw;
    height: 26.31835938vw;
    margin-left: -0.34179687vw;
  }
  .container .wrap.m004003003 article .content {
    font-size: 0vw;
  }
  .container .wrap.m004003003 article .content .cont-p {
    font-size: 2.34375vw;
    line-height: 2.83203125vw;
    width: 43.9453125vw;
  }
  .container .wrap.m004003003 article .content img.web {
    width: 47.21679688vw;
    height: 35.98632813vw;
    position: absolute;
    right: 0vw;
    top: 5.12695313vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004003003 article .content .txt {
    margin-top: 4.8828125vw;
  }
  .container .wrap.m004002002 {
    background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002002t_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 111.66992188vw;
  }
  .container .wrap.m004002002 article .content .cont-sub-tit {
    font-size: 2.34375vw;
    line-height: 2.83203125vw;
  }
  .container .wrap.m004002002 article .content .cont-sub-tit.cont-sub-tit1 {
    margin-top: 4.63867188vw;
  }
  .container .wrap.m004002002 article .content .cont-p {
    font-size: 2.34375vw;
    line-height: 2.83203125vw;
    margin-top: 1.26953125vw;
    margin-right: 0vw;
    margin-bottom: 4.39453125vw;
    margin-left: 0vw;
  }
  .container .wrap.m004002002 article .content .cont-p.cont-p1 {
    width: 41.015625vw;
  }
  .container .wrap.m004002002 article .content .cont-p.cont-p2 {
    width: 41.65039063vw;
  }
  .container .wrap.m004002002 article .content .txt {
    margin-top: 9.1796875vw;
  }
  .container .wrap.m004003 {
    background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004003t_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 75vw;
  }
  .container .wrap.m004003 article .content .cont-p {
    width: 52.24609375vw;
  }
  .container .wrap.m004001005 article .content .cont-p {
    width: 43.9453125vw;
  }
  .container .wrap.m004001005 article .content img {
    width: 45.703125vw;
  }
  .container .wrap.m004001005 article .content img.img1 {
    height: 27.68554688vw;
  }
  .container .wrap.m004001005 article .content img.img2 {
    height: 50.5859375vw;
    position: absolute;
    right: 0vw;
    top: 5.61523438vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004001006 article .content .cont-p {
    width: 43.79882813vw;
  }
  .container .wrap.m004001006 article .content img.img1 {
    height: 27.58789063vw;
  }
  .container .wrap.m004001006 article .content img.img2 {
    width: 45.703125vw;
    height: 24.4140625vw;
    position: absolute;
    right: 0vw;
    top: 4.24804688vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004001007 article .content .cont-p {
    letter-spacing: 0vw;
    width: 43.45703125vw;
  }
  .container .wrap.m004001007 article .content .cont-p .img1 {
    width: 24.8046875vw;
    height: 35.15625vw;
    float: left;
  }
  .container .wrap.m004001007 article .content img.img2 {
    width: 45.703125vw;
    height: 62.40234375vw;
    position: absolute;
    right: 0vw;
    top: 5.61523438vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004003001 {
    background-repeat: no-repeat;
    background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue//img/004003001t_01.png');
    background-size: contain;
    height: 147.8515625vw;
  }
  .container .wrap.m004003001 article .content .img2 {
    width: 44.04296875vw;
    height: 45.1171875vw;
    margin-left: 0vw;
  }
  .container .wrap.m004003002 {
    background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004003002t_02.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 75vw;
  }
  .container .wrap.m004003002 article .content {
    margin-top: 4.8828125vw;
  }
  .container .wrap.m004003002 article .content .cont-p {
    width: 43.75vw;
  }
  .container .wrap.m004003002 article .content img {
    margin-left: 0vw;
  }
  .container .wrap.m004003002 article .content img.img1 {
    width: 45.703125vw;
    height: 29.8828125vw;
  }
  .container .wrap.m004003009 article .content .cont-sub-tit,
  .container .wrap.m004003009 article .content .cont-p {
    font-size: 2.34375vw;
    line-height: 2.83203125vw;
  }
  .container .wrap.m004003009 article .content .cont-p {
    width: 43.70117188vw;
  }
  .container .wrap.m004003009 article .content img {
    width: 42.96875vw;
    height: 30.6640625vw;
    position: absolute;
    right: 0vw;
    top: 6.10351563vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004003009 article .content .txt {
    margin-top: 21.63085938vw;
  }
  .container .wrap.m004004001 article .content .cont-p {
    width: 41.74804688vw;
  }
  .container .wrap.m004004001 article .content .cont-p1 {
    margin-top: 2.1484375vw;
  }
  .container .wrap.m004004001 article .content img.img1 {
    width: 45.94726563vw;
    height: 61.66992188vw;
    position: absolute;
    right: 0vw;
    top: 5.859375vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004004001 article .content .txt {
    width: 39.55078125vw;
    margin-top: 23.77929688vw;
  }
  .container .wrap.m004004002 {
    padding-bottom: 3.80859375vw;
  }
  .container .wrap.m004004002 article .content .cont-p {
    width: 43.9453125vw;
  }
  .container .wrap.m004004002 article .content .cont-p.cont-p1 {
    width: 100%;
    margin-top: 0vw;
  }
  .container .wrap.m004004002 article .content img.img1 {
    width: 45.703125vw;
    height: 31.68945313vw;
  }
  .container .wrap.m004004002 article .content img.img2 {
    width: 47.99804688vw;
    height: 53.22265625vw;
    position: absolute;
    right: -4.296875vw;
    top: 5.859375vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004004003 article .content .cont-p {
    width: 43.9453125vw;
  }
  .container .wrap.m004004003 article .content img.img1 {
    width: 49.4140625vw;
    height: 34.765625vw;
  }
  .container .wrap.m004004003 article .content img.img2 {
    width: 41.9921875vw;
    height: 49.31640625vw;
    position: absolute;
    right: 0vw;
    bottom: 0vw;
    left: auto;
    top: auto;
  }
  .container .wrap.m004004004 article .content .cont-sub-tit,
  .container .wrap.m004004004 article .content .cont-p {
    font-size: 2.34375vw;
    line-height: 2.83203125vw;
  }
  .container .wrap.m004004004 article .content .cont-p {
    width: 48.58398438vw;
  }
  .container .wrap.m004004004 article .content img {
    width: 37.45117188vw;
    height: 37.79296875vw;
    position: absolute;
    right: 0vw;
    bottom: 9.42382813vw;
    left: auto;
    top: auto;
  }
  .container .wrap.m004004004 article .content .txt {
    margin-top: 3.66210938vw;
  }
  .container .wrap.m004004005 article .content .cont-sub-tit1 {
    margin-top: 4.8828125vw;
  }
  .container .wrap.m004004005 article .content .cont-sub-tit,
  .container .wrap.m004004005 article .content .cont-p {
    font-size: 2.34375vw;
    line-height: 2.83203125vw;
  }
  .container .wrap.m004004005 article .content .cont-p1 {
    width: 41.9921875vw;
  }
  .container .wrap.m004004005 article .content .cont-p2 {
    width: 83.984375vw;
  }
  .container .wrap.m004004005 article .content img {
    width: 43.45703125vw;
    height: 48.14453125vw;
    position: absolute;
    right: 0vw;
    top: 2.29492188vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004004005 article .content .txt {
    margin-top: 8.15429688vw;
  }
  .container .wrap.m002 {
    background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/002t_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 75vw;
  }
  .container .wrap.m002 article .content .cont-p {
    padding-left: 9.27734375vw;
    margin-top: 0vw;
    margin-right: 0vw;
    margin-bottom: 1.85546875vw;
    margin-left: 0vw;
  }
  .container .wrap.m002 article .content .cont-p:after {
    content: '';
    display: block;
    width: 9.03320313vw;
  }
  .container .wrap.m004002 {
    background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002t_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 75vw;
  }
  .container .wrap.m004002 article .visual h2 {
    letter-spacing: 0vw;
  }
  .container .wrap.m004004 {
    background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004004t_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 75vw;
  }
  .container .wrap.m004004 article .content .cont-p {
    width: 47.60742188vw;
  }
}
/*# sourceMappingURL=style-tb.css.map */