@import "asset";
@use-vw: true;
@vw:2048;

.one { font-family: SamsungOne, sans-serif; }
.sharp-b { font-family: "Samsung Sharp Sans Bold", sans-serif; }
.sharp-m { font-family: "Samsung Sharp Sans Medium", sans-serif; }
.sharp-r { font-family: "Samsung Sharp Sans Regular", sans-serif; }
.b-color { color:#0088b6; }
.b2-color { color:#0082b2; }
.g-color { color:#404040; }
img { backface-visibility: hidden; display: block; }
p, h2 { .keep-all; }

html { .one; }

@media screen and (min-width: 1081px) {
  .container {
    .wrap { .p(78,88); .-box; overflow: hidden;

      //공통사항
      .mo { .hide; }
      .web { .ib; }
      header {
        .tit { .fs(44); .lh(55); .b-color; .pl(27); .-box; .rel; .sharp-b;
          &:after { .cnt; .wh(11,32); .bgc(#0082b2); .abs; .lt(0,7); }
        }
      }
      article { .tl; .mt(130);
        .visual {
          h2 { .fs(88); .g-color; .lh(103); .sharp-b; }
        }
        .content { .mt(90); .tl; .rel;
          .cont-sub-tit { .fs(40); .lh(51); .b-color; .sharp-b; }
          .cont-p {  .fs(36); .lh(44); .mt(60); .g-color; }
          .txt { .fs(24); .lh(30); color:#58595b; .regular; .tl; }
        }
      }
      // first page 공통사항
      &.fp {
        article {
          p, h2 { mix-blend-mode: multiply; }
          .visual {
            h2 { .b-color; opacity: 1; }
          }
          .content {
            .cont-p { .fs(28); .lh(34); .mt(0); .b-color; .sharp-m; .tl; }
          }
        }
      }
      &.half { .bg-x(0);
        article { .pl(970); .-box;
          .content {
            .cont-sub-tit { .fs(48); .lh(53); }
            .cont-p { .fs(48); .lh(58); }
          }
        }
      }
      // 004001
      &.m004001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004001t_bg.png'); .no-repeat; .h(1536);
        article {
          .content {
            .cont-p {.w(990); .ml(9); }
            img { .wh(743,393); .mt(0); .abs; .rt(13,4); }
            .txt { .mt(225); }
          }
        }
      }
      // 004001003
      &.m004001003 {
        article {
          .content {
            img { .w(942);
              &.img1 { .h(586); }
              &.img2 { .h(839); .abs; .rt(-88,121); }
            }
          }
        }
      }
      // 004001004
      &.m004001004 {
        article {
          .content {
            img { .wh(1872,627); }
          }
        }
      }
      // 004001008
      &.m004001008 {
        article {
          .content {
            img { .wh(936,463); .abs; .rt(0,-17); }
            .txt { .mt(390); }
          }
        }
      }
      // 004002001
      &.m004002001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002001t_01.png'); .h(2166);
        article {
          .content {
            .img1 { .wh(995,539); .ml(-7); }
          }
        }
      }
      // 004003003
      &.m004003003 {
        article {
          .content { .fs(0);
            .cont-p { .fs(48); .lh(58); .w(900);  }
            img.web { .wh(967,737); .abs; .rt(0,105); }
            .txt { .mt(100); }
          }
        }
      }
      // 004002002
      &.m004002002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002002t_bg.png'); .no-repeat; .h(2287);
        article {
          .content {
            .cont-sub-tit { .fs(48); .lh(58);
              &.cont-sub-tit1 { .mt(95); }
            }
            .cont-p { .fs(48); .lh(58); .m(26,0,90);
              &.cont-p1 { .w(840); }
              &.cont-p2 { .w(853); }
            }
            .txt { .mt(188); }
          }
        }
      }
      // 004003
      &.m004003 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004003t_bg.png'); .no-repeat; .h(1536);
        article { .mt(150);
          .visual {
            h2 { .b2-color; .ls(0); opacity: 1; }
          }
          .content {
            .cont-p { .w(1110); }
          }
        }
      }
      // 004001005
      &.m004001005 {
        article {
          .content {
            .cont-p { .w(900); }
            img { .w(936);
              &.img1 { .h(567); }
              &.img2 { .h(1036); .abs; .rt(0,115); }
            }
          }
        }
      }
      // 004001006
      &.m004001006 {
        article {
          .content {
            .cont-p { .w(897); }
            img {
              &.img1 { .h(565); }
              &.img2 { .wh(936,500); .abs; .rt(0,87); }
            }
          }
        }
      }
      // 004001007
      &.m004001007 {
        article {
          .content {
            .cont-p { .ls(0); .w(890);
              .img1 { .wh(508,720); .fl; }
            }
            img {
              &.img2 { .wh(936,1278); .abs; .rt(0,115); }
            }
          }
        }
      }
      // 004003001
      &.m004003001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue//img/004003001t_01.png'); .h(3028);
        article {
          .content {
            .img2 { .wh(902,924); .ml(0); }
          }
        }
      }
    }
  }
}