@import "asset";
@use-vw: true;
@vw:2048;

.one { font-family: SamsungOne, sans-serif; }
.sharp-b { font-family: "Samsung Sharp Sans Bold", sans-serif; }
.sharp-m { font-family: "Samsung Sharp Sans Medium", sans-serif; }
.sharp-r { font-family: "Samsung Sharp Sans Regular", sans-serif; }
.b-color { color:#0082b2; }
.g-color { color:#404040; }
img { backface-visibility: hidden; display: block; }
p, h2 { .keep-all; }

html { .one; }

@media screen and (min-width: 1081px) {
  .container {
    .wrap { .p(78,88); .-box; overflow: hidden;

      //공통사항
      .mo { .hide; }
      .web { .ib; }
      header {
        .tit { .fs(44); .lh(55); .b-color; .pl(27); .-box; .rel; .sharp-b;
          &:after { .cnt; .wh(11,32); .bgc(#0082b2); .abs; .lt(0,7); }
        }
      }
      article { .tl; .mt(130);
        .visual {
          h2 { .fs(88); .g-color; .lh(103); .sharp-b; }
        }
        .content { .mt(90); .tl; .rel;
          .cont-sub-tit { .fs(40); .lh(51); .b-color; .sharp-b; }
          .cont-p {  .fs(36); .lh(44); .mt(60); .g-color; }
          .txt { .fs(24); .lh(30); color:#58595b; .regular; .tl; }
        }
      }
      // first page 공통사항
      &.fp {
        article { .mt(150);
          .content {
            .cont-p { .fs(28); .lh(34); .tl; }
          }
        }
      }
      &.half { .bg-x(0);
        article { .pl(970); .-box;
          .content {
            .cont-sub-tit { .fs(48); .lh(53); }
            .cont-p { .fs(48); .lh(58); }
          }
        }
      }
      // main page 공통사항
      &.main {
        article {
          .content {
            .cont-p { .fs(28); .lh(34); }
          }
        }
      }
      // q 공통사항
      &.q {
        header {
          .tit { .fs(70); .lh1; .mt(7); }
        }
        article { .mt(59);
          .visual {
            h2 { .fs(88); .lh(106); .tl; }
          }
          .content { .mt(123);
            .cont-sub-tit { .fs(60); .lh(72); }
            .cont-no { .fs(36); .lh(43); .mt(43); }
            .cont-p { .fs(36); .lh(43);
              span { .lh(43); }
            }
          }
        }
      }
      // 004001
      &.m004001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004001t_bg.png'); .no-repeat; .h(1536);
        article {
          .content {
            .cont-p {.w(990); .ml(9); }
            img { .wh(743,393); .mt(0); .abs; .rt(13,10); }
            .txt { .mt(225); }
          }
        }
      }
      // 004001003
      &.m004001003 {
        article {
          .content {
            img { .w(942);
              &.img1 { .h(586); }
              &.img2 { .h(839); .abs; .rt(-88,121); }
            }
          }
        }
      }
      // 004001004
      &.m004001004 {
        article {
          .content {
            img { .wh(1872,627); }
          }
        }
      }
      // 004001008
      &.m004001008 {
        article {
          .content {
            img { .wh(936,463); .abs; .rt(0,-17); }
            .txt { .mt(390); }
          }
        }
      }
      // 004002001
      &.m004002001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002001t_01.png'); .h(2166);
        article {
          .content {
            .img1 { .wh(995,539); .ml(-7); }
          }
        }
      }
      // 004003003
      &.m004003003 {
        article {
          .content { .fs(0);
            .cont-p { .fs(48); .lh(58); .w(900);  }
            img.web { .wh(967,737); .abs; .rt(0,105); }
            .txt { .mt(100); }
          }
        }
      }
      // 004002002
      &.m004002002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002002t_bg.png'); .no-repeat; .h(2287);
        article {
          .content {
            .cont-sub-tit { .fs(48); .lh(58);
              &.cont-sub-tit1 { .mt(95); }
            }
            .cont-p { .fs(48); .lh(58); .m(26,0,90);
              &.cont-p1 { .w(840); }
              &.cont-p2 { .w(853); }
            }
            .txt { .mt(188); }
          }
        }
      }
      // 004003
      &.m004003 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004003t_bg.png'); .no-repeat; .h(1536);
        article {
          .content {
            .cont-p { .w(1070); }
          }
        }
      }
      // 004001005
      &.m004001005 {
        article {
          .content {
            .cont-p { .w(900); }
            img { .w(936);
              &.img1 { .h(567); }
              &.img2 { .h(1036); .abs; .rt(0,115); }
            }
          }
        }
      }
      // 004001006
      &.m004001006 {
        article {
          .content {
            .cont-p { .w(897); }
            img {
              &.img1 { .h(565); }
              &.img2 { .wh(936,500); .abs; .rt(0,87); }
            }
          }
        }
      }
      // 004001007
      &.m004001007 {
        article {
          .content {
            .cont-p { .ls(0); .w(890);
              .img1 { .wh(508,720); .fl; }
            }
            img {
              &.img2 { .wh(936,1278); .abs; .rt(0,115); }
            }
          }
        }
      }
      // 004003001
      &.m004003001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue//img/004003001t_01.png'); .h(3028);
        article {
          .content {
            .img2 { .wh(902,924); .ml(0); }
          }
        }
      }
      // 004003002
      &.m004003002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004003002t_02.png'); .no-repeat; .h(1536);
        article {
          .content {.mt(100);
            .cont-p { .w(896); }
            img { .ml(0);
              &.img1 { .wh(936,612); }
            }
          }
        }
      }
      // 004003009
      &.m004003009 {
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .cont-p { .w(895); }
            img { .wh(880,628); .abs; .rt(0,125); }
            .txt { .mt(443); }
          }
        }
      }
      // 004004001
      &.m004004001 {
        article {
          .content {
            .cont-p { .w(855); }
            .cont-p1 { .mt(44); }
            img {
              &.img1 { .wh(941,1263); .abs; .rt(0,120); }
            }
            .txt { .w(810); .mt(487); }
          }
        }
      }
      // 004004002
      &.m004004002 { .pb(78);
        article {
          .content {
            .cont-p { .w(900);
              &.cont-p1 { .wf; .mt(0); }
            }
            img {
              &.img1 { .wh(936,649); }
              &.img2 { .wh(983,1090); .abs; .rt(-88,120);}
            }
          }
        }
      }
      // 004004003
      &.m004004003 {
        article {
          .content {
            .cont-p { .w(900); }
            img {
              &.img1 { .wh(1012,712); }
              &.img2 { .wh(860,1010); .abs; .rb; }
            }
          }
        }
      }
      // 004004004
      &.m004004004 {
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .cont-p { .w(995); }
            img { .wh(767,774); .abs; .rb(0,193); }
            .txt { .mt(75); }
          }
        }
      }
      // 004004005
      &.m004004005 {
        article {
          .content {
            .cont-sub-tit1 { .mt(100); }
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .cont-p1 { .w(860); }
            .cont-p2 { .w(1720); }
            img { .wh(890,986); .abs; .rt(0,47); }
            .txt { .mt(167); }
          }
        }
      }
      // 002
      &.m002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/002t_bg.png'); .no-repeat; .h(1536);
        article {
          .content {
            .cont-p { .pl(190); .m(0,0,38);
              &:after { .cnt; .w(185); }
            }
          }
        }
      }
      // 004002
      &.m004002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002t_bg.png'); .no-repeat; .h(1536);
        article {
          .visual {
            h2 { .ls(0); }
          }
        }
      }
      // 004004
      &.m004004 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004004t_bg.png'); .no-repeat; .h(1536);
        article {
          .content {
            .cont-p { .w(975); }
          }
        }
      }
      // 004005
      &.m004005 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004005t_bg.png'); .no-repeat; .h(1536);
        article {
          .content {
            .cont-p { .w(1000); }
          }
        }
      }
      // 004004006
      &.m004004006 {
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            img { .wh(2048,1408); .abs; .lb(-88,-78); }
            .txt { .mt(1353); .rel; .pl(970); .w(915); }
          }
        }
      }
      // 004005004
      &.m004005004 {
        article {
          .content {
            .cont-p { .w(825); }
            img { .wh(824,428); .abs; .rt(0,10); }
            .txt { .mt(420); }
          }
        }
      }
      // 004005005
      &.m004005005 {
        article {
          .content {
            .cont-p { .w(940); .mb(644); }
            img { .wh(691,551); .abs; .rt; }
          }
        }
      }
      // 004005006
      &.m004005006 {
        article {
          .content {
            img { .wh(1258,529); }
            .txt { .w(546); .abs; .rb(0,30); }
          }
        }
      }
      // 004005007
      &.m004005007 {
        article {
          .content {
            .cont-p { .w(865); }
            img {
              &.img1 { .wh(732,540); }
              &.img2 { .wh(907,953); .abs; .rt(0,120); }
            }
          }
        }
      }
      // 005002001
      &.m005002001 {
        article {
          .content {
            img { .wh(1872,712); .ml(0); }
            .txt { .mt(150); }
          }
        }
      }
      // 005002002
      &.m005002002 {
        article {
          .content {
            .cont-p { .mt(103); .w(840);
              span { .inline; }
            }
            img { .wh(934,265); .abs; .rt(0,329); }
            .txt { .mt(168); }
          }
        }
      }
      // 005002004
      &.m005002004 {
        article {
          .content {
            .cont-p { .mt(103);
              &.cont-p1 { .mt(0); .w(855); .mb(200); }
            }
            img { .wh(934,393); .abs; .rt(0,505); }
          }
        }
      }
      // 005002005
      &.m005002005 {
        article {
          .content {
            .cont-p { .mt(103);
              s { .w(830); .ib; }
              &.cont-p1 { .abs; .lt(50%,492); }
            }
            img { .h(434); }
            .txt { .m(130,0,0); }
          }
        }
      }
      // 005002007
      &.m005002007 {
        article {
          .content { .mt(10);
            .cont-p { .mt(103); }
            img { .wh(1872,1781); }
          }
        }
      }
      // 004001002
      &.m004001002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004001002t_01.png'); .no-repeat; .h(2498);
        article {
          .content {
            .cont-p { .w(1170); }
            .txt { .mt(1370); }
          }
        }
      }
      // 004002003
      &.m004002003 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002003t_01.png'); .no-repeat; .h(3376);
        article {
          .content {
            .cont-sub-tit { .tl;
              &.cont-sub-tit1 { .mt(190); }
            }
            .cont-p, .cont-sub-tit { .fs(48); .lh(58); }
            .cont-p { .mt(22); }
            .cont-p1 { .w(820); }
            .img2 { .wh(770,328); }
            .img3 { .wh(770,321); }
            .img4 { .wh(770,269); }
            .txt { .w(850); .abs; .rb(0,20); }
          }
        }
      }
      // 004002004
      &.m004002004 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002004t_01.png'); .no-repeat; .h(3190);
        article {
          .content {
            .cont-sub-tit {
              &.cont-sub-tit1 { .mt(190); }
            }
            .cont-p, .cont-sub-tit { .fs(48); .lh(58); }
            .cont-p { .mt(22); }
            .cont-p1, .cont-sub-tit { .pl(938); .-box; .mt(0); }
            .img2 { .wh(934,418); .ml(938); .mb(10); }
            .img3 { .wh(934,430); .ml(938); }
          }
        }
      }
      // 005002008
      &.m005002008 {
        article {
          .content {
            .cont-p { .mt(103); .w(866); .mb(410); }
            img { .wh(934,971); .abs; .rt(0,320); }
          }
        }
      }
      // 005002009
      &.m005002009 {
        article {
          .content {
            .cont-p { .mt(103); .w(840); .mb(340); }
            img { .wh(934,517); .abs; .rt(0,320); }
          }
        }
      }
    }
  }
}


































