/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
.one {
  font-family: SamsungOne, sans-serif;
}
.sharp-b {
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.sharp-m {
  font-family: "Samsung Sharp Sans Medium", sans-serif;
}
.sharp-r {
  font-family: "Samsung Sharp Sans Regular", sans-serif;
}
.b-color {
  color: #0082b2;
}
.g-color {
  color: #404040;
}
img {
  backface-visibility: hidden;
  display: block;
}
p,
h2 {
  word-break: keep-all;
}
html {
  font-family: SamsungOne, sans-serif;
}
.container .wrap {
  padding-top: 7.03703704vw;
  padding-right: 6.48148148vw;
  padding-bottom: 7.03703704vw;
  padding-left: 6.48148148vw;
  box-sizing: border-box;
}
.container .wrap .mo {
  display: inline-block;
}
.container .wrap .web {
  display: none;
}
.container .wrap header .tit {
  font-size: 4.72222222vw;
  line-height: 5.92592593vw;
  color: #0082b2;
  padding-left: 2.87037037vw;
  box-sizing: border-box;
  position: relative;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.container .wrap header .tit:after {
  content: '';
  display: block;
  width: 1.2037037vw;
  height: 3.51851852vw;
  background-color: #0082b2;
  position: absolute;
  left: 0vw;
  top: 0.64814815vw;
  right: auto;
  bottom: auto;
}
.container .wrap article {
  text-align: center;
  margin-top: 12.03703704vw;
}
.container .wrap article .visual h2 {
  font-size: 8.14814815vw;
  color: #404040;
  line-height: 9.72222222vw;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
  opacity: 0.8;
}
.container .wrap article .content {
  margin-top: 8.33333333vw;
}
.container .wrap article .content .cont-sub-tit {
  font-size: 4.44444444vw;
  line-height: 5.46296296vw;
  color: #0082b2;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.container .wrap article .content .cont-p {
  font-size: 4.44444444vw;
  line-height: 5.37037037vw;
  margin-top: 5.09259259vw;
  color: #404040;
  text-align: left;
  font-weight: 400;
}
.container .wrap article .content img {
  width: 87.03703704vw;
}
.container .wrap article .content .txt {
  font-size: 2.96296296vw;
  line-height: 3.7037037vw;
  color: #808285;
  font-weight: 300;
  text-align: left;
  letter-spacing: -0.028em;
}
.container .wrap.fp header .tit {
  mix-blend-mode: multiply;
}
.container .wrap.fp article p,
.container .wrap.fp article h2 {
  mix-blend-mode: multiply;
}
.container .wrap.fp article .visual h2 {
  color: #0082b2;
  opacity: 1;
}
.container .wrap.fp article .content .cont-p {
  font-size: 4.07407407vw;
  line-height: 5vw;
  margin-top: 0vw;
  color: #0082b2;
  font-family: "Samsung Sharp Sans Medium", sans-serif;
  text-align: center;
}
.container .wrap.main article {
  margin-top: 17.59259259vw;
}
.container .wrap.main article .visual h2 {
  color: #cdf5ff;
  opacity: 1;
}
.container .wrap.main article .content .cont-p {
  font-size: 3.33333333vw;
  line-height: 3.98148148vw;
}
.container .wrap.q header .tit {
  font-size: 6.48148148vw;
  line-height: 8.7037037vw;
  padding-left: 0vw;
}
.container .wrap.q header .tit:after {
  display: none;
}
.container .wrap.q article {
  margin-top: 1.66666667vw;
}
.container .wrap.q article .visual h2 {
  font-size: 6.48148148vw;
  line-height: 7.77777778vw;
  text-align: left;
}
.container .wrap.q article .content {
  text-align: left;
}
.container .wrap.q article .content .cont-sub-tit {
  text-align: left;
  font-family: "Samsung Sharp Sans Medium", sans-serif;
}
.container .wrap.q article .content .cont-no {
  font-size: 3.33333333vw;
  line-height: 3.98148148vw;
  font-weight: 700;
  color: #0082b2;
  margin-top: 7.68518519vw;
}
.container .wrap.q article .content .cont-p {
  font-size: 3.33333333vw;
  line-height: 3.98148148vw;
  margin-top: 1.48148148vw;
}
.container .wrap.q article .content .cont-p span {
  line-height: 3.98148148vw;
  font-weight: 700;
  opacity: 0.8;
  display: block;
  margin-bottom: 0.92592593vw;
}
.container .wrap.m004001 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004001_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 286.94444444vw;
}
.container .wrap.m004001 article .content img {
  height: 85.37037037vw;
}
.container .wrap.m004001003 article .content img {
  height: 117.31481481vw;
}
.container .wrap.m004001004 article .visual h2 {
  letter-spacing: -0.01em;
}
.container .wrap.m004001004 article .content img {
  height: 100.46296296vw;
}
.container .wrap.m004001008 article .content img {
  height: 54.16666667vw;
}
.container .wrap.m004002001 article .content img {
  width: 100vw;
  height: 139.53703704vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004003003 article .content img.mo {
  height: 81.75925926vw;
}
.container .wrap.m004002002 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002002_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 359.25925926vw;
  background-position-y: 1.85185185vw;
}
.container .wrap.m004002002 article .content .cont-sub-tit.cont-sub-tit1 {
  margin-top: 129.25925926vw;
}
.container .wrap.m004002002 article .content .cont-p {
  margin-top: 2.40740741vw;
  margin-right: 0vw;
  margin-bottom: 7.40740741vw;
  margin-left: 0vw;
}
.container .wrap.m004002002 article .content .txt {
  margin-top: 14.81481481vw;
}
.container .wrap.m004003 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004003_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 259.25925926vw;
}
.container .wrap.m004003 article .visual h2 {
  opacity: 1;
}
.container .wrap.m004001005 article .content img {
  height: 129.35185185vw;
}
.container .wrap.m004001006 {
  padding-bottom: 0vw;
}
.container .wrap.m004001006 article .content img {
  height: 228.42592593vw;
}
.container .wrap.m004001007 {
  padding-bottom: 0vw;
}
.container .wrap.m004001007 article .content .cont-p {
  letter-spacing: -0.001em;
}
.container .wrap.m004001007 article .content img {
  height: 194.72222222vw;
}
.container .wrap.m004003001 article .content img {
  width: 100vw;
  height: 219.44444444vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004003002 {
  padding-bottom: 0vw;
}
.container .wrap.m004003002 article .content img {
  width: 100vw;
  height: 166.11111111vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004003009 article .content img {
  height: 76.75925926vw;
}
.container .wrap.m004004001 article .content .cont-p1 {
  margin-top: 0vw;
}
.container .wrap.m004004001 article .content img.img1 {
  height: 73.24074074vw;
}
.container .wrap.m004004001 article .content img.img2 {
  width: 100vw;
  height: 85.64814815vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004004002 {
  padding-bottom: 0vw;
}
.container .wrap.m004004002 article .content img.img1 {
  height: 60.74074074vw;
}
.container .wrap.m004004002 article .content img.img2 {
  width: 100vw;
  height: 135.83333333vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004004003 article .content img {
  height: 164.07407407vw;
}
.container .wrap.m004004004 article .content img {
  height: 123.7962963vw;
}
.container .wrap.m004004005 article .content .cont-sub-tit1 {
  margin-top: 9.25925926vw;
}
.container .wrap.m004004005 article .content img {
  height: 128.05555556vw;
}
.container .wrap.m002 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/002_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 177.77777778vw;
}
.container .wrap.m002 article .content .cont-p {
  color: #fff;
  padding-left: 26.48148148vw;
  margin-top: 0vw;
  margin-right: 0vw;
  margin-bottom: 2.68518519vw;
  margin-left: 0vw;
  position: relative;
}
.container .wrap.m002 article .content .cont-p:after {
  content: '';
  display: block;
  position: absolute;
  width: 25.46296296vw;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  text-align: right;
  color: #8c8c8c;
}
.container .wrap.m002 article .content .cont-p:nth-child(1):after {
  content: 'Hub ㅣ ';
}
.container .wrap.m002 article .content .cont-p:nth-child(2):after {
  content: 'Tool ㅣ ';
}
.container .wrap.m002 article .content .cont-p:nth-child(3):after {
  content: 'Engineering ㅣ ';
}
.container .wrap.m002 article .content .cont-p:nth-child(4):after {
  content: 'Training ㅣ ';
}
.container .wrap.m004002 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 277.77777778vw;
}
.container .wrap.m004002 article .visual h2 {
  letter-spacing: -0.02em;
}
.container .wrap.m004004 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004004_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 277.77777778vw;
}
.container .wrap.m004005 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004005_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 277.77777778vw;
}
.container .wrap.m004005 article .visual h2 {
  letter-spacing: -0.02em;
}
.container .wrap.m004004006 article .content img {
  height: 109.44444444vw;
}
.container .wrap.m004005004 article .content img {
  height: 86.01851852vw;
}
.container .wrap.m004005005 article .content img {
  height: 82.87037037vw;
}
.container .wrap.m004005006 article .content img {
  height: 139.16666667vw;
}
.container .wrap.m004005007 article .content img {
  height: 145.74074074vw;
}
.container .wrap.m005002001 article .content img {
  width: 88.98148148vw;
  height: 51.38888889vw;
  margin-left: -1.94444444vw;
}
.container .wrap.m005002001 article .content .txt {
  margin-top: 11.38888889vw;
}
.container .wrap.m005002002 article .content .cont-p {
  margin-top: 11.11111111vw;
}
.container .wrap.m005002002 article .content .cont-p span {
  display: inline;
}
.container .wrap.m005002002 article .content img {
  height: 47.77777778vw;
}
.container .wrap.m005002004 article .content .cont-p {
  margin-top: 11.11111111vw;
}
.container .wrap.m005002004 article .content .cont-p span {
  display: inline;
  opacity: 1;
}
.container .wrap.m005002004 article .content img {
  height: 53.14814815vw;
}
.container .wrap.m005002005 article .content .cont-p {
  margin-top: 11.11111111vw;
}
.container .wrap.m005002005 article .content .cont-p span {
  display: inline;
  opacity: 1;
}
.container .wrap.m005002005 article .content .cont-p.cont-p1,
.container .wrap.m005002005 article .content .cont-p.cont-p2 {
  margin-top: 0vw;
}
.container .wrap.m005002005 article .content img {
  height: 40.92592593vw;
}
.container .wrap.m005002005 article .content .txt {
  margin-top: 13.42592593vw;
  margin-right: 0vw;
  margin-bottom: 3.7037037vw;
  margin-left: 0vw;
}
.container .wrap.m005002007 article .content .cont-p {
  margin-top: 11.11111111vw;
}
.container .wrap.m005002007 article .content img {
  height: 142.68518519vw;
}
.container .wrap.m004001002 article .content img {
  height: 188.33333333vw;
}
.container .wrap.m004002003 article .content .cont-sub-tit {
  text-align: left;
}
.container .wrap.m004002003 article .content .cont-p {
  margin-top: 1.85185185vw;
}
.container .wrap.m004002003 article .content .img1 {
  width: 93.51851852vw;
  height: 111.94444444vw;
}
.container .wrap.m004002003 article .content .img2 {
  height: 42.12962963vw;
}
.container .wrap.m004002003 article .content .img3 {
  height: 42.77777778vw;
}
.container .wrap.m004002003 article .content .img4 {
  height: 46.85185185vw;
}
.container .wrap.m004002004 article .content .cont-sub-tit {
  text-align: left;
}
.container .wrap.m004002004 article .content .cont-p {
  margin-top: 1.85185185vw;
}
.container .wrap.m004002004 article .content .img1 {
  width: 100vw;
  height: 124.25925926vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004002004 article .content .img2 {
  height: 43.88888889vw;
}
.container .wrap.m004002004 article .content .img3 {
  height: 47.5vw;
}
.container .wrap.m005002008 article .content .cont-p {
  margin-top: 11.11111111vw;
}
.container .wrap.m005002008 article .content img {
  height: 118.14814815vw;
}
.container .wrap.m005002009 article .content .cont-p {
  margin-top: 11.11111111vw;
}
.container .wrap.m005002009 article .content img {
  height: 67.96296296vw;
}
.container .wrap.m004001001 article .content img {
  width: 100vw;
  height: 231.01851852vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004003004 {
  padding-bottom: 0vw;
}
.container .wrap.m004003004 article .content img {
  width: 100vw;
  height: 105.09259259vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004003004 article .content .cont-p1 {
  margin-top: -4.72222222vw;
}
.container .wrap.m004003004 article .content .txt {
  margin-top: 10vw;
}
.container .wrap.m004003004 article .bottom {
  background-color: #f2f2f2;
  padding-top: 8.14814815vw;
  padding-right: 6.48148148vw;
  padding-bottom: 9.53703704vw;
  padding-left: 6.48148148vw;
  box-sizing: border-box;
  width: 100vw;
  margin-top: 10.18518519vw;
  margin-right: 0vw;
  margin-bottom: 0vw;
  margin-left: -6.48148148vw;
  text-align: left;
}
.container .wrap.m004003004 article .bottom .img2.mo {
  width: 23.88888889vw;
  height: 20vw;
}
.container .wrap.m004003004 article .bottom .img3.mo {
  width: 60.83333333vw;
  height: 85.64814815vw;
  margin-top: 5.55555556vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container .wrap.m004003004 article .bottom .cont-sub-tit {
  font-size: 4.25925926vw;
  line-height: 5.18518519vw;
  color: #404040;
  margin-top: 4.62962963vw;
  font-weight: 700;
  opacity: 0.8;
}
.container .wrap.m004003004 article .bottom .cont-p {
  font-size: 4.07407407vw;
  line-height: 4.90740741vw;
  margin-top: 3.24074074vw;
  color: #404040;
  opacity: 0.8;
}
.container .wrap.m004003004 article .bottom .cont-p s {
  font-weight: 700;
}
.container .wrap.m004003005 article .content img.img1 {
  height: 170.83333333vw;
}
.container .wrap.m004003005 article .content img.img2 {
  height: 70.09259259vw;
}
.container .wrap.m004003007 article .content img {
  width: 100vw;
  height: 182.77777778vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004003008 article .content img {
  width: 100vw;
  height: 173.61111111vw;
  margin-top: -14.62962963vw;
  margin-right: 0vw;
  margin-bottom: 0vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004003008 article .content .cont-p1 {
  font-size: 2.96296296vw;
  margin-top: 0vw;
  color: #404040;
}
.container .wrap.m004003008 article .content .txt {
  margin-top: 10.18518519vw;
}
.container .wrap.m004003010 article .content .img1 {
  width: 100vw;
  height: 196.48148148vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004003010 article .content .cont-p {
  margin-top: 2.77777778vw;
  text-align: center;
}
.container .wrap.m004005001 article .content img {
  width: 100vw;
  height: 138.61111111vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004005001 article .content img {
  width: 100vw;
  height: 138.61111111vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004005002 article .content .cont-sub-tit {
  text-align: left;
}
.container .wrap.m004005002 article .content .img1 {
  height: 195.27777778vw;
}
.container .wrap.m004005002 article .content .img2 {
  height: 87.5vw;
}
.container .wrap.m004005003 {
  padding-bottom: 0vw;
}
.container .wrap.m004005003 article .content img {
  width: 100vw;
  height: 163.88888889vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004005008 article .content {
  margin-top: 0vw;
}
.container .wrap.m004005008 article .content .cont-p {
  margin-top: 3.7037037vw;
}
.container .wrap.m004005008 article .content .cont-sub-tit1 {
  text-align: left;
  margin-top: 7.40740741vw;
}
.container .wrap.m004005008 article .content .img1 {
  width: 100vw;
  height: 241.48148148vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004005008 article .content .img2 {
  width: 100vw;
  height: 140.09259259vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004005008 article .content .img3 {
  width: 100vw;
  height: 50vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m005002003 article .content .cont-p {
  margin-top: 11.11111111vw;
}
.container .wrap.m005002003 article .content .cont-p span {
  display: inline;
}
.container .wrap.m005002003 article .content .cont-p1 {
  margin-top: 0vw;
}
.container .wrap.m005002003 article .content .img1 {
  width: 100vw;
  height: 98.14814815vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m005002003 article .content .img2 {
  height: 73.7037037vw;
}
.container .wrap.m005002003 article .content .img3 {
  height: 118.88888889vw;
}
.container .wrap.m005002006 article .content {
  position: relative;
}
.container .wrap.m005002006 article .content .cont-p {
  margin-top: 11.11111111vw;
}
.container .wrap.m005002006 article .content .img1 {
  width: 100vw;
  height: 63.98148148vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m005002006 article .content .cont-p1 {
  width: 100vw;
  height: 120.74074074vw;
  margin-left: -6.48148148vw;
  margin-top: 0vw;
  padding-top: 0vw;
  padding-right: 6.48148148vw;
  padding-bottom: 0vw;
  padding-left: 6.48148148vw;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url('../img/005002006_02.png');
  background-size: contain;
}
.container .wrap.m005002006 article .content .cont-p1 span {
  font-size: 3.33333333vw;
  font-weight: 700;
  color: #fff;
  width: 29.16666667vw;
  height: 15.55555556vw;
  line-height: 15.55555556vw;
  display: block;
  text-align: center;
  margin-bottom: 4.62962963vw;
}
.container .wrap.m005002006 article .content .cont-p2 {
  font-size: 3.33333333vw;
  line-height: 4.07407407vw;
  width: 41.2962963vw;
  position: absolute;
  right: 0vw;
  bottom: 38.88888889vw;
  left: auto;
  top: auto;
}
.container .wrap.m001001 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/001001_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 656.66666667vw;
}
.container .wrap.m001001 article {
  margin-top: 13.88888889vw;
}
.container .wrap.m001001 article .content .cell-box {
  margin-top: 16.85185185vw;
}
.container .wrap.m001001 article .content .cell-box .cell {
  background-size: contain;
  background-repeat: no-repeat;
  width: 74.81481481vw;
  height: 37.77777778vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.7037037vw;
  padding-top: 2.31481481vw;
  padding-right: 0vw;
  padding-bottom: 0vw;
  padding-left: 6.48148148vw;
  box-sizing: border-box;
}
.container .wrap.m001001 article .content .cell-box .cell.cell1 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/001001_01.png');
}
.container .wrap.m001001 article .content .cell-box .cell.cell2 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/001001_02.png');
}
.container .wrap.m001001 article .content .cell-box .cell.cell3 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/001001_03.png');
}
.container .wrap.m001001 article .content .cell-box .cell p {
  text-align: left;
}
.container .wrap.m001001 article .content .cell-box .cell p.p1 {
  font-size: 7.40740741vw;
  padding-left: 16.66666667vw;
  color: #0082b2;
}
.container .wrap.m001001 article .content .cell-box .cell p.p1 s {
  font-size: 5.55555556vw;
}
.container .wrap.m001001 article .content .cell-box .cell p.p2 {
  font-size: 2.96296296vw;
  padding-left: 16.66666667vw;
  color: #0082b2;
}
.container .wrap.m001001 article .content .cell-box .cell p.p3 {
  font-size: 2.77777778vw;
  color: #404040;
  margin-top: 1.85185185vw;
}
.container .wrap.m001001 article .content .cont-p {
  font-size: 4.07407407vw;
  line-height: 4.90740741vw;
  font-weight: 400;
  font-family: SamsungOne, sans-serif;
  color: #404040;
  text-align: left;
  margin-top: 16.2037037vw;
}
.container .wrap.m001001 article .content .cont-p1 {
  margin-top: 4.16666667vw;
}
.container .wrap.m001001 article .content .cont-sub-tit {
  margin-top: 140.74074074vw;
  letter-spacing: -0.02em;
  mix-blend-mode: normal;
}
.container .wrap.m001001 article .content .cont-sub-tit1 {
  font-size: 4.44444444vw;
  margin-top: 7.40740741vw;
  font-family: SamsungOne, sans-serif;
  mix-blend-mode: normal;
}
.container .wrap.m001001 article .content .cont-sub-tit2 {
  margin-top: 39.35185185vw;
}
.container .wrap.m001001 article .content .txt {
  font-size: 3.33333333vw;
  margin-top: 36.11111111vw;
}
.container .wrap.m001002 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/001002_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1002.22222222vw;
}
.container .wrap.m001002 article {
  margin-top: 13.88888889vw;
}
.container .wrap.m001002 article .content .cont-p {
  font-size: 4.07407407vw;
  line-height: 5vw;
  font-weight: 400;
  font-family: SamsungOne, sans-serif;
  color: #404040;
  text-align: left;
  margin-top: 192.59259259vw;
}
.container .wrap.m001002 article .content .cont-sub-tit {
  font-size: 5.09259259vw;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
  margin-top: 14.35185185vw;
  mix-blend-mode: normal;
}
.container .wrap.m001002 article .content .cont-sub-tit1 {
  font-size: 4.62962963vw;
  line-height: 5.55555556vw;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
  padding-left: 19.81481481vw;
  box-sizing: border-box;
  text-align: left;
  mix-blend-mode: normal;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
}
.container .wrap.m001002 article .content .cont-sub-tit2 {
  margin-top: 0vw;
  top: 550.74074074vw;
}
.container .wrap.m001002 article .content .cont-sub-tit3 {
  margin-top: 0vw;
  top: 659.90740741vw;
}
.container .wrap.m001002 article .content .cont-sub-tit4 {
  margin-top: 0vw;
  top: 768.51851852vw;
}
.container .wrap.m001002 article .content .cont-sub-tit5 {
  margin-top: 0vw;
  top: 877.59259259vw;
}
.container .wrap.m001002 article .content .cont-p1 {
  font-size: 3.33333333vw;
  line-height: 4.07407407vw;
  text-align: left;
  margin-top: 0vw;
  position: absolute;
  left: 0vw;
  top: 564.81481481vw;
  right: auto;
  bottom: auto;
  padding-top: 0vw;
  padding-right: 6.48148148vw;
  padding-bottom: 0vw;
  padding-left: 6.48148148vw;
  box-sizing: border-box;
}
.container .wrap.m001002 article .content .cont-p2 {
  top: 674.07407407vw;
}
.container .wrap.m001002 article .content .cont-p3 {
  top: 782.87037037vw;
}
.container .wrap.m001002 article .content .cont-p4 {
  top: 892.59259259vw;
}
.container .wrap.m001003 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/001003_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 811.66666667vw;
}
.container .wrap.m001003 article {
  margin-top: 13.88888889vw;
}
.container .wrap.m001003 article .visual h2 {
  color: #a5d1e6;
  mix-blend-mode: normal;
}
.container .wrap.m001003 article .content .cont-p {
  font-size: 4.07407407vw;
  line-height: 5vw;
  font-weight: 400;
  font-family: SamsungOne, sans-serif;
  text-align: left;
  color: #fff;
  margin-top: 15.74074074vw;
  mix-blend-mode: normal;
}
.container .wrap.m001003 article .content .cont-sub-tit {
  font-family: "Samsung Sharp Sans Bold", sans-serif;
  mix-blend-mode: normal;
  text-align: left;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
}
.container .wrap.m001003 article .content .cont-sub-tit1 {
  font-size: 3.33333333vw;
  color: #fff;
}
.container .wrap.m001003 article .content .t1 {
  left: 17.59259259vw;
  top: 159.25925926vw;
  right: auto;
  bottom: auto;
}
.container .wrap.m001003 article .content .t2 {
  left: 17.59259259vw;
  top: 197.87037037vw;
  right: auto;
  bottom: auto;
}
.container .wrap.m001003 article .content .t3 {
  left: 17.59259259vw;
  top: 233.24074074vw;
  right: auto;
  bottom: auto;
}
.container .wrap.m001003 article .content .cont-p1 {
  font-size: 2.77777778vw;
  line-height: 3.33333333vw;
  position: absolute;
  padding-top: 0vw;
  padding-right: 6.48148148vw;
  padding-bottom: 0vw;
  padding-left: 6.48148148vw;
  box-sizing: border-box;
  margin-top: 0vw;
}
.container .wrap.m001003 article .content .p1 {
  left: 0vw;
  top: 166.66666667vw;
  right: auto;
  bottom: auto;
}
.container .wrap.m001003 article .content .p2 {
  left: 0vw;
  top: 205.09259259vw;
  right: auto;
  bottom: auto;
}
.container .wrap.m001003 article .content .p3 {
  left: 0vw;
  top: 240.09259259vw;
  right: auto;
  bottom: auto;
}
.container .wrap.m001003 article .content .cont-sub-tit2 {
  font-size: 4.44444444vw;
  color: #0082b2;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
  text-align: center;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  width: 100%;
}
.container .wrap.m001003 article .content .t4 {
  top: 282.40740741vw;
}
.container .wrap.m001003 article .content .t5 {
  top: 410.64814815vw;
}
.container .wrap.m001003 article .content .t6 {
  top: 542.68518519vw;
}
.container .wrap.m001003 article .content .t7 {
  top: 674.62962963vw;
}
.container .wrap.m001003 article .content .cont-p2 {
  font-size: 3.7037037vw;
  line-height: 4.44444444vw;
  color: #404040;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  padding-top: 0vw;
  padding-right: 6.48148148vw;
  padding-bottom: 0vw;
  padding-left: 6.48148148vw;
  box-sizing: border-box;
  margin-top: 0vw;
}
.container .wrap.m001003 article .content .p4 {
  top: 337.96296296vw;
}
.container .wrap.m001003 article .content .p5 {
  top: 465.74074074vw;
}
.container .wrap.m001003 article .content .p6 {
  top: 598.61111111vw;
}
.container .wrap.m001003 article .content .p7 {
  top: 730.55555556vw;
}
/*# sourceMappingURL=style.css.map */