/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
.one {
  font-family: SamsungOne, sans-serif;
}
.sharp-b {
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.sharp-m {
  font-family: "Samsung Sharp Sans Medium", sans-serif;
}
.sharp-r {
  font-family: "Samsung Sharp Sans Regular", sans-serif;
}
.b-color {
  color: #0082b2;
}
.g-color {
  color: #404040;
}
img {
  backface-visibility: hidden;
  display: block;
}
p,
h2 {
  mix-blend-mode: multiply;
  word-break: keep-all;
}
html {
  font-family: SamsungOne, sans-serif;
}
.container .wrap {
  padding-top: 7.03703704vw;
  padding-right: 6.48148148vw;
  padding-bottom: 7.03703704vw;
  padding-left: 6.48148148vw;
  box-sizing: border-box;
}
.container .wrap .mo {
  display: inline-block;
}
.container .wrap .web {
  display: none;
}
.container .wrap header .tit {
  font-size: 4.72222222vw;
  line-height: 5.92592593vw;
  color: #0082b2;
  padding-left: 2.87037037vw;
  box-sizing: border-box;
  position: relative;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.container .wrap header .tit:after {
  content: '';
  display: block;
  width: 1.2037037vw;
  height: 3.51851852vw;
  background-color: #0082b2;
  position: absolute;
  left: 0vw;
  top: 0.64814815vw;
  right: auto;
  bottom: auto;
}
.container .wrap article {
  text-align: center;
  margin-top: 12.03703704vw;
}
.container .wrap article .visual h2 {
  font-size: 8.14814815vw;
  color: #404040;
  line-height: 9.72222222vw;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
  opacity: 0.8;
}
.container .wrap article .content {
  margin-top: 8.33333333vw;
}
.container .wrap article .content .cont-sub-tit {
  font-size: 4.44444444vw;
  line-height: 5.46296296vw;
  color: #0082b2;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.container .wrap article .content .cont-p {
  font-size: 4.44444444vw;
  line-height: 5.37037037vw;
  margin-top: 5.09259259vw;
  color: #404040;
  text-align: left;
  font-weight: 400;
}
.container .wrap article .content img {
  width: 87.03703704vw;
}
.container .wrap article .content .txt {
  font-size: 2.96296296vw;
  line-height: 3.7037037vw;
  color: #808285;
  font-weight: 300;
  text-align: left;
  letter-spacing: -0.028em;
}
.container .wrap.m004001 {
  background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004001_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 277.77777778vw;
}
.container .wrap.m004001 article .visual h2 {
  color: #0082b2;
  opacity: 1;
}
.container .wrap.m004001 article .content .cont-p {
  font-size: 4.07407407vw;
  line-height: 4.81481481vw;
  margin-top: 0vw;
  color: #0082b2;
  font-family: "Samsung Sharp Sans Medium", sans-serif;
  text-align: center;
}
.container .wrap.m004001 article .content img {
  height: 85.18518519vw;
}
.container .wrap.m004001003 article .content img {
  height: 117.31481481vw;
}
.container .wrap.m004001004 article .visual h2 {
  letter-spacing: -0.01em;
}
.container .wrap.m004001004 article .content img {
  height: 100.46296296vw;
}
.container .wrap.m004001008 article .content img {
  height: 54.16666667vw;
}
.container .wrap.m004002001 article .content img {
  width: 100vw;
  height: 139.53703704vw;
  margin-left: -6.48148148vw;
}
.container .wrap.m004003003 article .content img.mo {
  height: 81.75925926vw;
}
/*# sourceMappingURL=style.css.map */