@import "asset";
@use-vw: true;
@vw:2048;

.one { font-family: SamsungOne, sans-serif; }
.sharp-b { font-family: "Samsung Sharp Sans Bold", sans-serif; }
.sharp-m { font-family: "Samsung Sharp Sans Medium", sans-serif; }
.sharp-r { font-family: "Samsung Sharp Sans Regular", sans-serif; }
.b-color { color:#0082b2; }
.g-color { color:#404040; }
img { backface-visibility: hidden; display: block; }
p, h2 { .keep-all; }

html { .one; }

@media screen and (min-width: 1081px) {
  .container {
    .wrap { .p(78,88); .-box; overflow: hidden;

      //공통사항
      .mo { .hide; }
      .web { .ib; }
      header {
        .tit { .fs(44); .lh(55); .b-color; .pl(27); .-box; .rel; .sharp-b;
          &:after { .cnt; .wh(11,32); .bgc(#0082b2); .abs; .lt(0,7); }
        }
      }
      article { .tl; .mt(130);
        .visual {
          h2 { .fs(88); .g-color; .lh(103); .sharp-b; }
        }
        .content { .mt(90); .tl; .rel;
          .cont-sub-tit { .fs(40); .lh(51); .b-color; .sharp-b; }
          .cont-p {  .fs(36); .lh(44); .mt(60); .g-color; }
          .txt { .fs(24); .lh(30); color:#58595b; .regular; .tl; }
        }
      }
      // first page 공통사항
      &.fp {
        article { .mt(150);
          .content {
            .cont-p { .fs(28); .lh(34); .tl; }
          }
        }
      }
      &.half { .bg-x(0);
        article { .pl(970); .-box;
          .content {
            .cont-sub-tit { .fs(48); .lh(53); }
            .cont-p { .fs(48); .lh(58); }
          }
        }
      }
      // main page 공통사항
      &.main {
        article {
          .content {
            .cont-p { .fs(28); .lh(34); }
          }
        }
      }
      // q 공통사항
      &.q {
        header {
          .tit { .fs(70); .lh1; .mt(7); }
        }
        article { .mt(59);
          .visual {
            h2 { .fs(88); .lh(106); .tl; }
          }
          .content { .mt(123);
            .cont-sub-tit { .fs(60); .lh(72); }
            .cont-no { .fs(36); .lh(43); .mt(43); }
            .cont-p { .fs(36); .lh(43);
              span { .lh(43); }
            }
          }
        }
      }
      // 004001
      &.m004001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004001t_bg.png'); .no-repeat; .h(1536);
        article {
          .content {
            .cont-p {.w(990); .ml(9); }
            img { .wh(743,393); .mt(0); .abs; .rt(13,10); }
            .txt { .mt(225); }
          }
        }
      }
      // 004001003
      &.m004001003 {
        article {
          .content {
            img { .w(942);
              &.img1 { .h(586); }
              &.img2 { .h(839); .abs; .rt(-88,121); }
            }
          }
        }
      }
      // 004001004
      &.m004001004 {
        article {
          .content {
            img { .wh(1872,627); }
          }
        }
      }
      // 004001008
      &.m004001008 {
        article {
          .content {
            img { .wh(936,463); .abs; .rt(0,-17); }
            .txt { .mt(390); }
          }
        }
      }
      // 004002001
      &.m004002001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002001t_01.png'); .h(2166);
        article {
          .content {
            .img1 { .wh(995,539); .ml(-7); }
          }
        }
      }
      // 004003003
      &.m004003003 {
        article {
          .content { .fs(0);
            .cont-p { .fs(48); .lh(58); .w(900);  }
            img.web { .wh(967,737); .abs; .rt(0,105); }
            .txt { .mt(100); }
          }
        }
      }
      // 004002002
      &.m004002002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002002t_bg.png'); .no-repeat; .h(2287);
        article {
          .content {
            .cont-sub-tit { .fs(48); .lh(58);
              &.cont-sub-tit1 { .mt(95); }
            }
            .cont-p { .fs(48); .lh(58); .m(26,0,90);
              &.cont-p1 { .w(840); }
              &.cont-p2 { .w(853); }
            }
            .txt { .mt(188); }
          }
        }
      }
      // 004003
      &.m004003 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004003t_bg.png'); .no-repeat; .h(1536);
        article {
          .content {
            .cont-p { .w(1070); }
          }
        }
      }
      // 004001005
      &.m004001005 {
        article {
          .content {
            .cont-p { .w(900); }
            img { .w(936);
              &.img1 { .h(567); }
              &.img2 { .h(1036); .abs; .rt(0,115); }
            }
          }
        }
      }
      // 004001006
      &.m004001006 {
        article {
          .content {
            .cont-p { .w(897); }
            img {
              &.img1 { .h(565); }
              &.img2 { .wh(936,500); .abs; .rt(0,87); }
            }
          }
        }
      }
      // 004001007
      &.m004001007 {
        article {
          .content {
            .cont-p { .ls(0); .w(890);
              .img1 { .wh(508,720); .fl; }
            }
            img {
              &.img2 { .wh(936,1278); .abs; .rt(0,115); }
            }
          }
        }
      }
      // 004003001
      &.m004003001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue//img/004003001t_01.png'); .h(3028);
        article {
          .content {
            .img2 { .wh(902,924); .ml(0); }
          }
        }
      }
      // 004003002
      &.m004003002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004003002t_02.png'); .no-repeat; .h(1536);
        article {
          .content {.mt(100);
            .cont-p { .w(896); }
            img { .ml(0);
              &.img1 { .wh(936,612); }
            }
          }
        }
      }
      // 004003009
      &.m004003009 {
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .cont-p { .w(895); }
            img { .wh(880,628); .abs; .rt(0,125); }
            .txt { .mt(443); }
          }
        }
      }
      // 004004001
      &.m004004001 {
        article {
          .content {
            .cont-p { .w(855); }
            .cont-p1 { .mt(44); }
            img {
              &.img1 { .wh(941,1263); .abs; .rt(0,120); }
            }
            .txt { .w(810); .mt(487); }
          }
        }
      }
      // 004004002
      &.m004004002 { .pb(78);
        article {
          .content {
            .cont-p { .w(900);
              &.cont-p1 { .wf; .mt(0); }
            }
            img {
              &.img1 { .wh(936,649); }
              &.img2 { .wh(983,1090); .abs; .rt(-88,120);}
            }
          }
        }
      }
      // 004004003
      &.m004004003 {
        article {
          .content {
            .cont-p { .w(900); }
            img {
              &.img1 { .wh(1012,712); }
              &.img2 { .wh(860,1010); .abs; .rb; }
            }
          }
        }
      }
      // 004004004
      &.m004004004 {
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .cont-p { .w(995); }
            img { .wh(767,774); .abs; .rb(0,193); }
            .txt { .mt(75); }
          }
        }
      }
      // 004004005
      &.m004004005 {
        article {
          .content {
            .cont-sub-tit1 { .mt(100); }
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .cont-p1 { .w(860); }
            .cont-p2 { .w(1720); }
            img { .wh(890,986); .abs; .rt(0,47); }
            .txt { .mt(167); }
          }
        }
      }
      // 002
      &.m002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/002t_bg.png'); .no-repeat; .h(1536);
        article {
          .content {
            .cont-p { .pl(190); .m(0,0,38);
              &:after { .cnt; .w(185); }
            }
          }
        }
      }
      // 004002
      &.m004002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002t_bg.png'); .no-repeat; .h(1536);
        article {
          .visual {
            h2 { .ls(0); }
          }
        }
      }
      // 004004
      &.m004004 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004004t_bg.png'); .no-repeat; .h(1536);
        article {
          .content {
            .cont-p { .w(975); }
          }
        }
      }
      // 004005
      &.m004005 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004005t_bg.png'); .no-repeat; .h(1536);
        article {
          .content {
            .cont-p { .w(1000); }
          }
        }
      }
      // 004004006
      &.m004004006 {
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            img { .wh(2048,1408); .abs; .lb(-88,-78); }
            .txt { .mt(1353); .rel; .pl(970); .w(915); }
          }
        }
      }
      // 004005004
      &.m004005004 {
        article {
          .content {
            .cont-p { .w(825); }
            img { .wh(824,428); .abs; .rt(0,10); }
            .txt { .mt(420); }
          }
        }
      }
      // 004005005
      &.m004005005 {
        article {
          .content {
            .cont-p { .w(940); .mb(644); }
            img { .wh(691,551); .abs; .rt; }
          }
        }
      }
      // 004005006
      &.m004005006 {
        article {
          .content {
            img { .wh(1258,529); }
            .txt { .w(546); .abs; .rb(0,30); }
          }
        }
      }
      // 004005007
      &.m004005007 {
        article {
          .content {
            .cont-p { .w(865); }
            img {
              &.img1 { .wh(732,540); }
              &.img2 { .wh(907,953); .abs; .rt(0,120); }
            }
          }
        }
      }
      // 005002001
      &.m005002001 {
        article {
          .content {
            img { .wh(1872,712); .ml(0); }
            .txt { .mt(150); }
          }
        }
      }
      // 005002002
      &.m005002002 {
        article {
          .content {
            .cont-p { .mt(103); .w(840);
              span { .inline; }
            }
            img { .wh(934,265); .abs; .rt(0,329); }
            .txt { .mt(168); }
          }
        }
      }
      // 005002004
      &.m005002004 {
        article {
          .content {
            .cont-p { .mt(103);
              &.cont-p1 { .mt(0); .w(855); .mb(200); }
            }
            img { .wh(934,393); .abs; .rt(0,505); }
          }
        }
      }
      // 005002005
      &.m005002005 {
        article {
          .content {
            .cont-p { .mt(103);
              s { .w(830); .ib; }
              &.cont-p1 { .abs; .lt(50%,492); }
            }
            img { .h(434); }
            .txt { .m(130,0,0); }
          }
        }
      }
      // 005002007
      &.m005002007 {
        article {
          .content { .mt(10);
            .cont-p { .mt(103); }
            img { .wh(1872,1781); }
          }
        }
      }
      // 004001002
      &.m004001002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004001002t_01.png'); .no-repeat; .h(2498);
        article {
          .content {
            .cont-p { .w(1170); }
            .txt { .mt(1370); }
          }
        }
      }
      // 004002003
      &.m004002003 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002003t_01.png'); .no-repeat; .h(3376);
        article {
          .content {
            .cont-sub-tit { .tl;
              &.cont-sub-tit1 { .mt(190); }
            }
            .cont-p, .cont-sub-tit { .fs(48); .lh(58); }
            .cont-p { .mt(22); }
            .cont-p1 { .w(820); }
            .img2 { .wh(770,328); }
            .img3 { .wh(770,321); }
            .img4 { .wh(770,269); }
            .txt { .w(850); .abs; .rb(0,20); }
          }
        }
      }
      // 004002004
      &.m004002004 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002004t_01.png'); .no-repeat; .h(3190);
        article {
          .content {
            .cont-sub-tit {
              &.cont-sub-tit1 { .mt(190); }
            }
            .cont-p, .cont-sub-tit { .fs(48); .lh(58); }
            .cont-p { .mt(22); }
            .cont-p1, .cont-sub-tit { .pl(938); .-box; .mt(0); }
            .img2 { .wh(934,418); .ml(938); .mb(10); }
            .img3 { .wh(934,430); .ml(938); }
          }
        }
      }
      // 005002008
      &.m005002008 {
        article {
          .content {
            .cont-p { .mt(103); .w(866); .mb(410); }
            img { .wh(934,971); .abs; .rt(0,320); }
          }
        }
      }
      // 005002009
      &.m005002009 {
        article {
          .content {
            .cont-p { .mt(103); .w(840); .mb(340); }
            img { .wh(934,517); .abs; .rt(0,320); }
          }
        }
      }
      // 004001001
      &.m004001001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004001001t_bg.png'); .no-repeat; .h(2560);
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); .pl(938); .-box; }
            img { .wh(934,1351); .ml(938); }
          }
        }
      }
      // 004003004
      &.m004003004 { .pb(0);
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            img { .wh(2048,1726); .ml(-88); }
            .cont-p1 { .mt(0); .w(1065); .abs; .lt(787,900);
              span { .block; .mt(450); }
            }
            .txt { .mt(-30); }
          }
          .bottom { .bgc(#f2f2f2); .p(66,54,0,100); .-box; .w(2048); .m(90,0,0,-88); .tl; .rel;
            .img2.mo { .hide; }
            .img2.web { .wh(148,123); .ib; .vat; .mr(34); }
            .img3.mo { .hide; }
            .img3.web { .wh(556,663); .mt(0); .abs; .rt(53,66); }
            .cont-sub-tit { .fs(48); .lh(58); .mt(0); .w(1100); .ib; .vat; }
            .cont-p { .fs(44); .lh(53); .mt(10); .w(1300); .ib; .vat; .pl(182); .-box;
              s { .bold; }
              &.cont-p1 { .fs(40); .m(25,0,210); }
            }
          }
        }
      }
      // 004003005
      &.m004003005 {
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .cont-p1 { .w(1110); .mb(580); }
            .cont-sub-tit1 { .mt(590); }
            img {
              &.img1 { .wh(1456,1195); .abs; .rt(0,120); }
            }
            .txt { .mt(0); }
          }
        }
      }
      // 004003006
      &.m004003006 {
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .cont-p { .w(905); .mb(60); }
            .cont-sub-tit1 { .mt(590); }
            img  {.wh(831,491); .abs; .rt(0,0); }
          }
        }
      }
      // 004003007
      &.m004003007 { .pb(0);
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            img { .wh(2048,1843); .ml(-88); }
            .txt { .w(1200); .abs; .rb(0,88); }
          }
        }
      }
      // 004003008
      &.m004003008 {
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .cont-p { .w(995); }
            img { .wh(1960,1378); .m(-600,0,0,-0); }
            .cont-p1 { .fs(24); }
            .txt { .mt(110); }
          }
        }
      }
      // 004003010
      &.m004003010 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004003010t_bg.png'); .no-repeat; .h(2986);
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); .tl; }
            .cont-p { .w(750); }
            .cont-sub-tit1 { .mt(220); .pl(668); .-box; }
            .cont-sub-tit2 { .mt(120); }
            .cont-sub-tit3 { .mt(190); }
            .cont-p1 {.w(1385); .pl(668); .-box; .mt(50); }
            .img1 { .wh(1080,2122); .ml(-70); }
            .txt { .pl(668); .-box; .mt(200); }
          }
        }
      }
      // 004005001
      &.m004005001 {
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .cont-p { .w(1436); }
            img { .wh(1872,792); .m(-90,0,0,0); }
          }
        }
      }
      // 004005002
      &.m004005002 {
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .img1 { .wh(2048,1710); .ml(-88); }
            .cont-p1 { .w(730); .abs; .rb(0,244); }
          }
        }
      }
      // 004005003
      &.m004005003 { .pb(0);
        article {
          .content {
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            img { .wh(2048,2027); .ml(-88); }
          }
        }
      }
      // 004005008
      &.m004005008 {
        article {
          .content { .mt(0);
            .cont-sub-tit, .cont-p { .fs(48); .lh(58); }
            .cont-p { .mt(20); }
            .cont-sub-tit1 { .tl; .mt(80); }
            .cont-p2 { .w(938); }
            .img1 { .wh(2048,2527); .m(-520,0,0,-88); }
            .img2 { .wh(2048,1294); .ml(-88); }
            .img3 { .wh(2048,1193); .ml(-88); }
          }
        }
      }
      // 005002003
      &.m005002003 {
        article {
          .content {
            .cont-p { .mt(103);
              span { .inline; }
            }
            .cont-p1 { .mt(0); }
            .cont-p2 { .w(830); }
            .cont-p3 { .w(939); .abs; .rb(0,254); }
            .img1 { .wh(2048,916); .ml(-88); }
            .img2 { .wh(825,1136); }
            .img3 { .wh(939,703); .abs; .rt(0,1380); }
          }
        }
      }
      // 005002006
      &.m005002006 {
        article {
          .content { .rel;
            .cont-p { .mt(103); .w(1198); }
            .img1 { .wh(1872,1981); .m(-200,0,0,0); }
            .cont-p1 { .wh(1872,1544);  .abs; .lt(132,770); background: none; .mt(0); .p(0,76);
              span { .fs(36); .bold; color:#fff; .wh(315,168); .lh(168); .block; .tc; .mb(70); }
            }
            .cont-p2 { .fs(36); .lh(44); .w(795); .abs; .rb(76,560); }
          }
        }
      }
      // 001001
      &.m001001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/001001t_bg.png'); .no-repeat; .h(4156);
        article { .mt(165);
          .visual h2 { .tc; mix-blend-mode: normal; }
          .content {
            .cell-box { .mt(328); .tc;
              .cell { .contain; .no-repeat; .wh(437,430); .ib; .m(0,53); .p(50,0,0,30); .vat;
                &.cell1 { .bg('http://www.vo-mm.com/Samsung/M-Catalogue/img/001001t_01.png'); .mt(118);
                  .p3 {.mt(53); }
                }
                &.cell2 { .bg('http://www.vo-mm.com/Samsung/M-Catalogue/img/001001t_02.png'); }
                &.cell3 { .bg('http://www.vo-mm.com/Samsung/M-Catalogue/img/001001t_03.png'); .mt(105); }
                p { .tl;
                  &.p1 { .fs(63); .pl(170); .b-color;   s { .fs(43); } }
                  &.p2 { .fs(25); .pl(170); .b-color; }
                  &.p3 { .fs(22); .g-color; .mt(22); }
                }
              }
            }
            .cont-p { .fs(40); .lh(46); .regular; .one; .g-color; .tl; .mt(285); }
            .cont-p1 { .mt(45);}
            .cont-p2 { .w(955);}
            .v-wrap { .abs; .lt(0,2285); .p(0); .-box;
              .cont-sub-tit { .fs(48); .mt(0); }
              .cont-sub-tit1 { .fs(44); .mt(80); .ib; }
              .cont-sub-tit2 { .mt(0); .ib; .ml(430); }
              .txt { .fs(36); .lh(46); .mt(410); .ls(0); }
            }
          }
        }
      }
      // 001002
      &.m001002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/001002t_bg.png'); .no-repeat; .h(5345);
        article { .mt(150);
          .visual h2 { .tc; mix-blend-mode: normal; opacity: 0.8; }
          .content {
            .cont-p { .fs(40); .lh(48); .regular; .one; .g-color; .tl; .mt(1190); .w(959); }
            .cont-sub-tit { .fs(44); .sharp-b; .mt(0); mix-blend-mode: normal; .abs; .lt(1083,0); }
            .cont-sub-tit1 { .fs(50); .lh(60); .sharp-b; .pl(140); .-box; .tl; mix-blend-mode: normal; .abs; .lt; }
            .cont-sub-tit2 { .mt(0); .t(1345); }
            .cont-sub-tit3 { .mt(0); .lt(983,1345); }
            .cont-sub-tit4 { .mt(0); .t(2474); }
            .cont-sub-tit5 { .mt(0); .lt(983,2474); }
            .cont-p1 { .fs(36); .lh(44); .tl; .mt(0); .abs; .lt(0,1500); .p(0); .-box; .w(900); }
            .cont-p2 { .lt(983,1500);}
            .cont-p3 { .t(2618); }
            .cont-p4 { .lt(983,2618);}
          }
        }
      }
      // 001003
      &.m001003 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/001003t_bg.png'); .no-repeat; .h(4356);
        article { .mt(150);
          .visual h2 { .tc; color:#a5d1e6; mix-blend-mode: normal;}
          .content {
            .cont-p { .fs(40); .lh(48); .regular; .one; .tl; color:#fff; .mt(85); mix-blend-mode: normal;}
            .cont-sub-tit { .sharp-b; mix-blend-mode: normal; .tl; .abs; .lt; }
            .cont-sub-tit1 { .fs(36); color: #fff; .pl(0); }
            .t1 { .lt(0,650); }
            .t2 { .lt(670,650); }
            .t3 { .lt(1340,650); }
            .cont-p1 { .fs(25); .lh(30); .abs; .p(0); .-box; .mt(0); .w(530); }
            .p1 { .lt(0,720); }
            .p2 { .lt(670,720); }
            .p3 { .lt(1340,720); }
            .cont-sub-tit2 { .fs(48); .b-color; .sharp-b; .tc; .abs; .lt; .w(938); }
            .t4 { .t(1190); }
            .t5 { .lt(938,1190); }
            .t6 { .t(2527); }
            .t7 { .lt(938,2527); }
            .cont-p2 { .fs(36); .lh(44); .g-color; .abs; .lt; .p(0); .-box; .mt(0); .w(884);}
            .p4 {.t(1750); }
            .p5 {.lt(996,1750); }
            .p6 {.t(3090); }
            .p7 {.lt(996,3090); }
          }
        }
      }
      // 001004
      &.m001004 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/001004t_bg.png'); .no-repeat; .h(5224);
        article { .mt(150);
          .visual h2 {  mix-blend-mode: normal; .tc; opacity: 0.8;}
          .content { position: static;
            .cont-p { .fs(40); .lh(48); .regular; .one; .g-color; .tl; .mt(80); mix-blend-mode: normal; .w(934); }
            .tit {.fs(48); .lh(58); color:#fff; .sharp-b; .tl; .abs;  mix-blend-mode: normal; .mt(0); }
            .tit1 { .lt(88,1620); }
            .tit2 { .lt(1025,2535); }
            .tit3 { .lt(88,3385); }
            .tit4 { .lt(1025,4310); }
            .cont-sub-tit { .fs(44); .lh(48); color:#fff; .sharp-m; .tl; mix-blend-mode: normal; .abs; .lt; }
            .t1 { .lt(88,1700); }
            .t2 { .lt(1025,2615); }
            .t3 { .lt(88,3465); }
            .t4 { .lt(1025,4390); }
            .cont-p1 { .fs(40); .lh(48); color:#fff; .tl; mix-blend-mode: normal; .w(940); .mt(0); .abs; .lt; }
            .p1 { .lt(88,1810); }
            .p2 { .lt(1025,2725); }
            .p3 { .lt(88,3575); }
            .p4 { .lt(1025,4500); }

          }
        }
      }
      // 002001
      &.m002001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/002001t_bg.png'); .no-repeat; .h(5182);
        article { .mt(562);
          .visual h2 { .fs(76); .lh(90); color:#fff; mix-blend-mode: normal;}
          .content { position: static;
            .sub-tit { .fs(48); .lh(58); color:#fff; .sharp-b; mix-blend-mode: normal; .mt(155); }
            .cont-pi { .fs(36); .lh(44); color:#fff; .mt(75); mix-blend-mode: normal; .tl; .w(1030); .tl; .ib; }
            .cont-tit { .fs(48); .lh(58); .g-color; .sharp-m; .abs; .lt(150,1650); opacity: 0.8;
              s { .sharp-b; }
            }
            .tit { .fs(34); .sharp-b; .b-color; .abs; .lt(150,0); }
            .tit1 { .t(1940); }
            .tit2 { .lt(600,1940); }
            .tit3 { .lt(1068,1940); }
            .tit4 { .lt(1510,1940); }
            .cont-txt { .fs(30); .g-color; .tl; .abs; .lt(150,2005); .w(360); }
            .cont-txt1 { .lt(150,2010); }
            .cont-txt2 { .lt(600,2010); }
            .cont-txt3 { .lt(1068,2010); }
            .cont-txt4 { .lt(1510,2010); }
            .txt { .abs; .lt(150,0); }
            .txt1 { .t(2340); }
            .txt2 { .lt(88,4960); }
            .cont-sub-tit { .fs(48); .lh(58); .b-color; .sharp-b; .abs; .lt(88,0); width:auto; }
            .cont-sub-tit1 { .t(2580); }
            .cont-sub-tit2 { .lt(1030,3185); }
            .cont-sub-tit3 { .t(3790); }
            .cont-sub-tit4 { .lt(1030,4390); }
            .cont-p { .fs(36); .lh(44); .one; .g-color; .abs; .lt(88,0); .w(930); .tl; .mt(0); }
            .cont-p1 { .t(2680); }
            .cont-p2 { .lt(1030,3285); }
            .cont-p3 { .t(3890); }
            .cont-p4 { .lt(1030,4490); }
          }
        }
      }
      // 002002
      &.m002002 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/002002t_bg.png'); .no-repeat; .h(6625);
        article { .mt(475);
          .visual h2 { .fs(76); .lh(90); color:#fff; mix-blend-mode: normal;}
          .content { position: static;
            .sub-tit { .fs(48); .lh(58); color:#fff; .sharp-b; mix-blend-mode: normal; .mt(145); }
            .cont-pi { .fs(36); .lh(44); color:#fff; .mt(75); mix-blend-mode: normal; .w(1055); .tl; .ib; }
            .cont-tit { .fs(48); .lh(58); .g-color; .sharp-m; .abs; .lt(150,1650); opacity: 0.8;
              s { .sharp-b; }
            }
            .tit { .fs(36); .sharp-b; .b-color; .abs; .lt(150,0); }
            .tit1 { .t(1940); }
            .tit2 { .lt(700,1940); }
            .tit3 { .lt(1260,1940); }
            .cont-txt { .fs(30); .g-color; .tl; .abs; .lt(296,0); .w(510); }
            .cont-txt1 { .lt(150,2010); }
            .cont-txt2 { .lt(700,2010); }
            .cont-txt3 { .lt(1260,2010); }
            .txt { .abs; .lt(150,0); }
            .txt1 { .t(2215); }
            .cont-sub-tit { .fs(48); .lh(58); .b-color; .sharp-b; .abs; .lt(88,0); width: auto; }
            .cont-sub-tit1 { .t(2450); }
            .cont-sub-tit2 { .lt(1020,3905); }
            .cont-p { .fs(36); .lh(44); .one; .g-color; .abs; .lt(88,0); .w(940); .tl; .mt(0); }
            .cont-p1 { .t(2550); }
            .cont-p2 { .lt(1020,4005); }
            .sub-tit-type { .fs(36); .lh(44); .g-color; .sharp-b; .tl; .abs; .lt(88,3100); }
            .sub-tit-type1 { .lt(88,3100); }
            .sub-tit-type2 { .lt(585,3100); }
            .sub-tit-type3 { .lt(1065,3100); }
            .sub-tit-type4 { .lt(1540,3100); }
            .sub-tit-type5 { .lt(88,4600); }
            .sub-tit-type6 { .lt(585,4600); }
            .sub-tit-type7 { .lt(1065,4600); }
            .sub-tit-type8 { .lt(1540,4600); }
            .sub-txt { .fs(36); .lh(44); .g-color; .tl; .abs; .lt(88,3240); .w(400); }
            .sub-txt1 { .lt(88,3240); }
            .sub-txt2 { .lt(585,3240); }
            .sub-txt3 { .lt(1065,3240); }
            .sub-txt4 { .lt(1540,3240); }
            .sub-txt5 { .lt(88,4740); }
            .sub-txt6 { .lt(585,4740); }
            .sub-txt7 { .lt(1065,4740); }
            .sub-txt8 { .lt(1540,4740); }
            .bottom { .abs; .lt(1020,5640); .p(0);
              .tit-type { .fs(54); .lh(65); .sharp-m; .tl; color:#fff;.-box; mix-blend-mode: normal; }
              .tit-sub { .fs(48); .lh(58); .sharp-b; .tl; color:#fff; .mt(80); .-box; mix-blend-mode: normal;}
              .txt-sub { .fs(36); .lh(44); .tl; color:#fff; .mt(40); .-box; mix-blend-mode: normal; .w(935); }
            }
          }
        }
      }
      // 003
      &.m003 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/003t_bg.png'); .no-repeat; .h(5654);
        article { .mt(480);
          .visual h2 { color:#fff; opacity: 1; }
          .content { position: static;
            .cont-w { .abs; .lt; .wh(1024,790); .p(112,88); .-box; .tl;
              .c-tit {.fs(48); .lh(58); .sharp-m; color:#fff; }
              .c-txt { .fs(44); .sharp-b; color:#fff; .mt(230); }
            }
            .cont-w1 { .t(1540); }
            .cont-w2 { .lt(1024,1540);
              .c-tit, .c-txt { color:#58595b; }
              .c-txt { .mt(280); }
            }
            .cont-w3 { .t(3577); }
            .cont-w4 { .lt(1024,3577);
              .c-tit, .c-txt { color:#58595b; }
            }
            .cont-wrap { .abs; .lt; .w(1024); .p(112,70,0); .-box; .tl; .clear;
              .c-tit { .fs(44); .b-color; .bold; .mb(40);
                span { .regular; .fr; }
              }
              .c-txt { .fs(40); .lh(48); .g-color; .mb(95); }
            }
            .cont-wrap1 { .t(2330); }
            .cont-wrap2 { .lt(1024,2330); }
            .cont-wrap3 { .t(4368); }
            .cont-wrap4 { .lt(1024,4368); }
          }
        }
      }
      // 002003
      &.m002003 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/002003t_bg.png'); .no-repeat; .h(5480);
        article { .mt(480);
          .visual h2 { .fs(76); .lh(90); color:#fff; mix-blend-mode: normal;}
          .content { position: static;
            .sub-tit { .fs(48); .lh(58); color:#fff; .sharp-b; mix-blend-mode: normal; .mt(155); }
            .cont-pi { .fs(36); .lh(44); color:#fff; .mt(75); mix-blend-mode: normal; .w(1045); .ib; .tl;  }
            .cont-tit { .fs(48); .lh(58); .g-color; .sharp-m; .abs; .lt(150,1650); opacity: 0.8;
              s { .sharp-b; }
            }
            .tit { .fs(36); .sharp-b; .b-color; .abs; .lt(150,0); }
            .tit1 { .t(1940); }
            .tit2 { .lt(1110,1940); }
            .cont-txt { .fs(30); .g-color; .tl; .abs; .lt(150,0); .w(815); }
            .cont-txt1 { .t(2006);
              s {.fs(26); .lh(32); .mt(13); .ti(-17); .ml(17); .block; }
            }
            .cont-txt2 { .lt(1110,2006); }
            .cell { .abs; .lt(0,2357); .wf; .p(110,70); .-box; .tl;
              .c-tit { .fs(48); .lh(58); color:#666; .bold; .mb(30); }
              .c-txt { .fs(36); .lh(44); .g-color; .mb(30); .w(860);
                s { .mt(20); .ti(-22); .ml(22); .block; }
              }
            }
            .txt { .fs(28); .mt(0); .tr; .pr(115); .-box; }
            .cont-sub-tit { .fs(48); .lh(58); .b-color; .sharp-b; .abs; .lt(70,0);  }
            .cont-sub-tit1 { .t(3095); }
            .cont-sub-tit2 { .lt(1064,3920); }
            .cont-sub-tit3 { .t(4626); }
            .cont-p { .fs(36); .lh(44); .one; .g-color; .abs; .lt(70,0); .w(840); .tl; .mt(0); }
            .cont-p1 { .t(3195); }
            .cont-p2 { .lt(1064,4020); .w(900); }
            .cont-p3 { .t(4726); }
          }
        }
      }
      // 002004
      &.m002004 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/002004t_bg.png'); .no-repeat; .h(5200);
        article { .mt(580);
          .visual h2 { .fs(76); .lh(90); color:#fff; mix-blend-mode: normal;}
          .content { position: static;
            .sub-tit { .fs(48); .lh(58); color:#fff; .sharp-b; mix-blend-mode: normal; .mt(155); }
            .cont-pi { .fs(36); .lh(44); color:#fff; .mt(75); mix-blend-mode: normal; .w(1045); .ib; .tl; }
            .cont-tit { .fs(48); .lh(58); .g-color; .sharp-m; .abs; .lt(150,1640); opacity: 0.8; .tl; width:auto;
              s { .sharp-m; }
            }
            .tit { .fs(34); .sharp-b; .b-color; .abs; .lt(150,0); }
            .tit1 { .t(1944); }
            .tit2 { .lt(822,1944); }
            .tit3 { .lt(1457,1944); }
            .cont-txt { .fs(30); .g-color; .tl; .abs; .lt(150,0); .w(520); }
            .cont-txt1 { .t(2014); }
            .cont-txt2 { .lt(822,2014); }
            .cont-txt3 { .lt(1457,2014); }
            .txt { .fs(24); .g-color; .abs; .lt(150,0); .tl; width:auto; }
            .txt1 {.t(2340); }
            .txt2 {.lt(88,1240); .w(1600); }

            .c-wrap { .abs; .lt; .tl; .p(85,70); .-box;
              .cont-sub-tit { .fs(48); .lh(58); .b-color; .sharp-b; .mb(40);
                span { .fs(44); .lh(48); .one; .g-color; .block; }
              }
              .cont-p { .fs(36); .lh(44); .one; .g-color; .w(890); .tl;
                s { .block; .mb(15); .ti(-23); .ml(23); }
              }
            }
            .c-wrap1 { .t(2450); }
            .c-wrap2 { .t(3062);
              .cont-p { .w(890); }
            }
            .c-wrap3 { .t(3710); }
          }
        }
      }
      // 004
      &.m004 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/004t_bg.png'); .no-repeat; .h(4606);
        article { .mt(160);
          .visual h2 { .fs(88); .lh(105); mix-blend-mode: normal; .tc; }
          .content { position: static;
            .cont-p { .fs(40); .lh(48); .mt(90); .w(874); }
            .v-wrap { .fs(0); .abs; .lt; .tl; .p(0,0,0,88); .-box;
              .c-tit { .fs(44); .b-color; .bold; .mb(43); }
              ul { .w(940);
                li { .fs(30); .lh(36); .g-color; .ib; .pl(105); .-box; .mb(60); .w(470); }
              }
            }
            .v-wrap1 { .t(2862);  }
            .v-wrap2 { .lt(988,2862); }
            .v-wrap3 { .t(3412);
              ul { width: auto;
                li.ri { .ml(44); }
              }
            }
            .v-wrap4 { .t(3965);  }
            .v-wrap5 { .lt(988,3965);  }
          }
        }
      }
      // 005001
      &.m005001 { background:none; .h(7769);
        article { .mt(117);
          .visual h2 { .fs(88); .lh(105); .bold; .g-color; .sharp-b; .tl;
            s { .sharp-m; .ib; }
          }
          .content {
            img { .w(2048); .ml(-88); }
            .cont-wrap { .hide; }
          }
        }
      }
      // 005002
      &.m005002 { .pb(150);
        article { .mt(160);
          .visual h2 { .fs(72); .lh(86); color:#58595b; .sharp-r; .tl; }
          .content { .mt(120);
            .txt-box { .tl; .clear; .mt(30); .rel;
              .tit { .fs(36); .sharp-m; color:#58595b; .mb(30); .ib; .vat; .mr(45);}
              .txt { .fs(28); .lh(34); color:#58595b; .ib; .vat; .w(1230);
                s { .fr; .abs; .rt; }
              }
            }
          }
        }
      }
      // 000
      &.m000 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/000t_bg.png'); .no-repeat; .h(1536);}

      // 001
      &.m001 { .contain('http://www.vo-mm.com/Samsung/M-Catalogue/img/001t_bg.png'); .no-repeat; .h(1536);
        article { .pl(22); .-box;
          .tit { .fs(88); .lh(109); color:#fff; .sharp-b; .tl; .mt(530); }
          .txt { .fs(32); .lh(72); color:#fff; .tl; .mt(64); .rel; .ml(30);
            &:after { .cnt; .wh(5,269); .bgc(#fff); .abs; .lt(-30,10); transform: none;  }
          }
        }
      }
      // 005
      &.m005 { .contain('../img/005t_bg.png'); .no-repeat; .h(1536);
        article { .pl(22); .-box;
          .tit { .fs(88); .lh(109); color:#fff; .sharp-b; .tl; .mt(550); }
          .txt { .fs(32); .lh(72); color:#fff; .tl; .mt(64); .rel; .ml(30);
            &:after { .cnt; .wh(5,130); .bgc(#fff); .abs; .lt(-30,10); transform: none;  }
          }
        }
      }
    }
  }
}


































