/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
.one {
  font-family: SamsungOne, sans-serif;
}
.sharp-b {
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.sharp-m {
  font-family: "Samsung Sharp Sans Medium", sans-serif;
}
.sharp-r {
  font-family: "Samsung Sharp Sans Regular", sans-serif;
}
.b-color {
  color: #0082b2;
}
.g-color {
  color: #404040;
}
img {
  backface-visibility: hidden;
  display: block;
}
p,
h2 {
  mix-blend-mode: multiply;
  word-break: keep-all;
}
html {
  font-family: SamsungOne, sans-serif;
}
@media screen and (min-width: 1081px) {
  .container .wrap {
    padding-top: 3.80859375vw;
    padding-right: 4.296875vw;
    padding-bottom: 3.80859375vw;
    padding-left: 4.296875vw;
    box-sizing: border-box;
    overflow: hidden;
  }
  .container .wrap .mo {
    display: none;
  }
  .container .wrap .web {
    display: inline-block;
  }
  .container .wrap header .tit {
    font-size: 2.1484375vw;
    line-height: 2.68554688vw;
    color: #0082b2;
    padding-left: 1.31835938vw;
    box-sizing: border-box;
    position: relative;
    font-family: "Samsung Sharp Sans Bold", sans-serif;
  }
  .container .wrap header .tit:after {
    content: '';
    display: block;
    width: 0.53710938vw;
    height: 1.5625vw;
    background-color: #0082b2;
    position: absolute;
    left: 0vw;
    top: 0.34179688vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article {
    text-align: left;
    margin-top: 6.34765625vw;
  }
  .container .wrap article .visual h2 {
    font-size: 4.296875vw;
    color: #404040;
    line-height: 5.02929688vw;
    font-family: "Samsung Sharp Sans Bold", sans-serif;
  }
  .container .wrap article .content {
    margin-top: 4.39453125vw;
    text-align: left;
    position: relative;
  }
  .container .wrap article .content .cont-sub-tit {
    font-size: 1.953125vw;
    line-height: 2.49023438vw;
    color: #0082b2;
    font-family: "Samsung Sharp Sans Bold", sans-serif;
  }
  .container .wrap article .content .cont-p {
    font-size: 1.7578125vw;
    line-height: 2.1484375vw;
    margin-top: 2.9296875vw;
    color: #404040;
  }
  .container .wrap article .content .txt {
    font-size: 1.171875vw;
    line-height: 1.46484375vw;
    color: #58595b;
    font-weight: 400;
    text-align: left;
  }
  .container .wrap.m004001 {
    background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004001t_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 75vw;
  }
  .container .wrap.m004001 article .content .cont-p {
    font-size: 1.3671875vw;
    line-height: 1.66015625vw;
    width: 48.33984375vw;
    font-family: "Samsung Sharp Sans Medium", sans-serif;
    margin-top: 0vw;
    margin-left: 0.43945313vw;
    text-align: left;
  }
  .container .wrap.m004001 article .content img {
    width: 36.27929688vw;
    height: 19.18945313vw;
    margin-top: 0vw;
    position: absolute;
    right: 0.63476563vw;
    top: 0.1953125vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004001 article .content .txt {
    margin-top: 10.98632813vw;
  }
  .container .wrap.m004001003 article .content img {
    width: 45.99609375vw;
  }
  .container .wrap.m004001003 article .content img.img1 {
    height: 28.61328125vw;
  }
  .container .wrap.m004001003 article .content img.img2 {
    height: 40.96679688vw;
    position: absolute;
    right: -4.296875vw;
    top: 5.90820313vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004001004 article .content img {
    width: 91.40625vw;
    height: 30.61523438vw;
  }
  .container .wrap.m004001008 article .content img {
    width: 45.703125vw;
    height: 22.60742188vw;
    position: absolute;
    right: 0vw;
    top: -0.83007812vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004001008 article .content .txt {
    margin-top: 19.04296875vw;
  }
  .container .wrap.m004002001 {
    background-repeat: no-repeat;
    background-image: url('http://www.vo-mm.com/Samsung/M-Catalogue/img/004002001t_01.png');
    background-size: contain;
    height: 105.76171875vw;
    background-position-x: 0vw;
  }
  .container .wrap.m004002001 header .tit {
    mix-blend-mode: normal;
  }
  .container .wrap.m004002001 article {
    padding-left: 47.4609375vw;
    box-sizing: border-box;
  }
  .container .wrap.m004002001 article .content .cont-sub-tit {
    font-size: 2.34375vw;
    line-height: 2.58789063vw;
  }
  .container .wrap.m004002001 article .content .cont-p {
    font-size: 2.34375vw;
    line-height: 2.83203125vw;
  }
  .container .wrap.m004002001 article .content .img1 {
    width: 48.58398438vw;
    height: 26.31835938vw;
    margin-left: -0.34179687vw;
  }
  .container .wrap.m004003003 article .content {
    font-size: 0vw;
  }
  .container .wrap.m004003003 article .content .cont-p {
    font-size: 2.34375vw;
    line-height: 2.83203125vw;
    width: 43.9453125vw;
  }
  .container .wrap.m004003003 article .content img.web {
    width: 47.21679688vw;
    height: 35.98632813vw;
    position: absolute;
    right: 0vw;
    top: 5.12695313vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap.m004003003 article .content .txt {
    margin-top: 4.8828125vw;
  }
}
/*# sourceMappingURL=style-tb.css.map */