/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
.one {
  font-family: SamsungOne, sans-serif;
}
.sharp-b {
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.sharp-m {
  font-family: "Samsung Sharp Sans Medium", sans-serif;
}
.sharp-r {
  font-family: "Samsung Sharp Sans Regular", sans-serif;
}
.b-color {
  color: #0082b2;
}
img {
  backface-visibility: hidden;
  display: block;
}
p,
h2 {
  mix-blend-mode: multiply;
  word-break: keep-all;
}
html {
  font-family: SamsungOne, sans-serif;
}
.container .wrap {
  background-image: url('https://dvmpro.mkt.samsung.com/dvm_server/dvms2/004001_01.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 247.5vw;
  padding-top: 7.87037037vw;
  padding-right: 6.48148148vw;
  padding-bottom: 7.87037037vw;
  padding-left: 6.48148148vw;
  box-sizing: border-box;
}
.container .wrap header .tit {
  font-size: 4.72222222vw;
  line-height: 5.92592593vw;
  color: #0082b2;
  padding-left: 2.87037037vw;
  box-sizing: border-box;
  position: relative;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.container .wrap header .tit:after {
  content: '';
  display: block;
  width: 1.2037037vw;
  height: 3.51851852vw;
  background-color: #006195;
  position: absolute;
  left: 0vw;
  top: 0.64814815vw;
  right: auto;
  bottom: auto;
}
.container .wrap article {
  text-align: center;
}
.container .wrap article .visual h2 {
  font-size: 8.14814815vw;
  color: #0082b2;
  font-weight: 700;
  line-height: 9.72222222vw;
  margin-top: 17.59259259vw;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.container .wrap .content {
  margin-top: 10.46296296vw;
  text-align: left;
}
.container .wrap .content .cont-p {
  font-size: 3.98148148vw;
  line-height: 4.62962963vw;
  color: #0082b2;
  font-weight: 400;
}
.container .wrap .content img {
  width: 87.03703704vw;
  height: 46.94444444vw;
  margin-top: 5.92592593vw;
}
.container .wrap .content .txt {
  font-size: 2.96296296vw;
  line-height: 3.7037037vw;
  margin-top: 17.5vw;
  color: #808285;
  font-weight: 300;
  text-align: left;
}
.container .wrap.d-type {
  background: none;
  height: 192.68518519vw;
}
.container .wrap.d-type article .visual h2 {
  color: #58595b;
  margin-top: 11.38888889vw;
}
.container .wrap.d-type article .visual h2 + p {
  font-size: 4.44444444vw;
  line-height: 5.46296296vw;
  color: #0082b2;
  font-weight: 700;
  margin-top: 1.38888889vw;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
}
.container .wrap.d-type article .content {
  margin-top: 8.98148148vw;
}
.container .wrap.d-type article .content .cont-p {
  font-size: 4.53703704vw;
  line-height: 5.46296296vw;
  color: #404040;
}
.container .wrap.d-type article .content img {
  width: 87.03703704vw;
  height: 30.64814815vw;
  margin-top: 6.2962963vw;
}
.container .wrap.d-type article .content .txt {
  margin-top: 12.96296296vw;
}
/*# sourceMappingURL=style.css.map */